<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            <strong>Локальный КИБ </strong>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-accordion-item>
                <nb-accordion-item-header class="justify-content-around">
                    <strong>0-0-3</strong>
                    <strong>Лимит: 15000</strong>
                    <strong>Использовано: 6000</strong>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <nb-accordion-item>
                        <nb-accordion-item-header
                            class="justify-content-around"
                        >
                            <strong>1 платеж</strong>
                            <strong>1.12.2021</strong>
                            <strong>1000</strong>
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <table class="w-100">
                                <tr>
                                    <td>ПИН</td>
                                    <td>fdsd</td>
                                    <td>fdsd</td>
                                </tr>
                            </table>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
