@import '../../../../@theme/styles/themes';

.kib {
    .accordion-header {
        strong {
            text-align: center;
        }
    }
    .delay {
        strong {
            position: absolute;
            padding-left: 80px;
        }
    }
    .danger-header {
        background-color: nb-theme(color-danger-default);
    }
    td {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}
