<div class="credit-buttons row justify-content-around mt-5 mb-2">
    <div class="col-md-4 approve-btn">
        <ngx-confirm-buttons
            (approveEvent)="approveUser()"
            status="success"
            title="Одобрить"
        >
        </ngx-confirm-buttons>
    </div>
    <div class="col-md-4 approve-btn">
        <ngx-confirm-buttons
            (approveEvent)="postponeUser()"
            status="warning"
            title="отложить"
        >
        </ngx-confirm-buttons>
    </div>
    <div class="col-md-4">
        <ng-template #formPopover>
            <div *ngIf="visible" class="p-2">
                <form class="decline-form" [formGroup]="form">
                    <label for="inputLastName" class="label"
                        >Дата завершения блокировки(можно пропустить)</label
                    >
                    <input
                        type="date"
                        formControlName="lockoutEnd"
                        fullWidth
                        nbInput
                        placeholder="Дата начала"
                    />
                </form>

                <div class="d-flex justify-content-center">
                    <button
                        size="small"
                        nbButton
                        status="success"
                        (click)="declineUser()"
                        ghost
                    >
                        Подтвердить
                    </button>
                </div>
            </div>
        </ng-template>
        <button
            class="w-100"
            nbButton
            (click)="onClick()"
            status="danger"
            [nbPopover]="formPopover"
        >
            Отклонить
        </button>
    </div>
</div>
