@media (max-width: 768px) {
    .credit-buttons {
        padding-bottom: 50px;
    }
}
@media (max-width: 425px) {
    .approve-btn {
        margin-bottom: 30px;
    }
    .decline-form {
        width: 100%;
        display: block;
        input {
            width: 100%;
            height: auto;
        }
    }
}
