<ngx-global-loader></ngx-global-loader>

<nb-card class="container" *ngIf="loanApplicationData && dataScoring">
    <ngx-credit-application-detail-info
        [data]="loanApplicationData"
        [dataScoring]="dataScoring"
        [kibData]="kibData"
        [repaymentDays]="repDays"
        [customerData]="customerData"
    ></ngx-credit-application-detail-info>
    <ngx-credit-application-more-info
        [data]="loanApplicationData"
        [dataScoring]="dataScoring"
        [kibData]="kibData"
        [customerData]="customerData"
    ></ngx-credit-application-more-info>
    <ngx-additional-info
        [data]="loanApplicationData"
        [dataScoring]="dataScoring"
        [customerData]="customerData"
        (needToEditUserEvent)="needToEditUser()"
        class="detail-block mt-4"
    ></ngx-additional-info>
    <ngx-update-amount
        (changeAmountEvent)="changeAmount($event)"
        [data]="requestingAmountData"
    ></ngx-update-amount>
    <ngx-comments
        [comments]="loanApplicationData.comments"
        (sendCommentEvent)="sendComment($event)"
        class="detail-block"
    ></ngx-comments>
</nb-card>
