<div>
    <div class="float-right">
        <button (click)="openCreateModal()" nbButton status="primary">
            Добавить
        </button>
    </div>
    <div class="messengers">
        <ngx-custom-table
            (changePageEvent)="getMessengers()"
            (deleteItemEvent)="deleteMessenger($event)"
            (openModalEvent)="openEditModal($event)"
            [tableColumns]="tableColumns"
            [tableData]="messengers"
            [productName]="'ни одной соцсети'"
        >
        </ngx-custom-table>
    </div>
</div>
