@import '../../../../../@theme/styles/themes';

.feedback-item {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    border-color: nb-theme(select-outline-basic-border-color);
    border-style: nb-theme(select-outline-border-style);
    border-width: nb-theme(select-outline-border-width);
    border-radius: nb-theme(select-rectangle-border-radius);
    .first-block {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .date {
        float: right;
    }
}
