<div class="">
    <div class="float-right">
        <a
            [routerLink]="[
                '/catalog/partners/' + partnerId + '/branches/create'
            ]"
        >
            <button nbButton status="primary">Добавить</button>
        </a>
    </div>
    <div
        class="list-branches"
        *ngIf="listBranches && listBranches.items.length > 0"
    >
        <div *ngFor="let branch of listBranches.items" class="branch-card">
            <div class="first-block">
                <strong>{{ branch.name }}</strong>
                <p>{{ branch.address }}</p>
                <div class="buttons">
                    <button
                        class="btn edit-btn"
                        (click)="editBranch(branch.id)"
                        nbButton
                        status="warning"
                    >
                        <i style="font-size: 35px" class="nb-edit"></i>
                    </button>
                    <button
                        class="btn delete-btn"
                        (click)="deleteBranch(branch.id)"
                        nbButton
                        status="danger"
                    >
                        <i style="font-size: 35px" class="nb-trash"></i>
                    </button>
                </div>
            </div>
            <div class="icons ml-3">
                <a [href]="'tel:' + branch?.phoneNumber">
                    <i style="font-size: 45px" class="nb-phone"></i>
                </a>
                <a *ngIf="branch.email" [href]="'mailto:' + branch?.email">
                    <i style="font-size: 45px" class="nb-email"></i>
                </a>
            </div>
            <div class="work-shedule">
                <ng-container *ngFor="let item of branch.schedule">
                    <div class="shedule-item" *ngIf="!item.isWeekend">
                        <strong>{{ translateWeekdays(item.day) }}</strong>
                        <p>
                            {{
                                item.workingHourStart +
                                    ' - ' +
                                    item.workingHourEnd
                            }}
                        </p>
                    </div>
                    <div class="shedule-item danger" *ngIf="item.isWeekend">
                        <strong>{{ translateWeekdays(item.day) }}</strong>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ngx-pagination
        (changePageEvent)="getBranches($event)"
        [data]="listBranches"
    ></ngx-pagination>
</div>
