<div class="">
    <nb-accordion multi>
        <nb-accordion-item>
            <nb-accordion-item-header class="justify-content-center">
                Требуется особое внимание
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="d-flex justify-content-around">
                    <p>Срок проживания по фактическому адресу проживания</p>
                    <p>6 мес. и менее</p>
                    <p>10</p>
                </div>
                <div class="d-flex justify-content-around">
                    <p>Срок проживания по фактическому адресу проживания</p>
                    <p>6 мес. и менее</p>
                    <p>10</p>
                </div>
                <div class="d-flex justify-content-around">
                    <p>Срок проживания по фактическому адресу проживания</p>
                    <p>6 мес. и менее</p>
                    <p>10</p>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    <ngx-kib class="detail-block"></ngx-kib>
    <ngx-soc-fond class="detail-block"></ngx-soc-fond>
    <ngx-identification-files class="detail-block"></ngx-identification-files>
    <ngx-passport-data class="detail-block"> </ngx-passport-data>
    <ngx-additional-info class="detail-block"></ngx-additional-info>
    <ngx-update-amount class="detail-block"></ngx-update-amount>
    <ngx-comments class="detail-block"></ngx-comments>
</div>
