<div class="">
    <nb-accordion
        *ngIf="dataScoring.creditHistoryScore.stopFactors.length > 0"
        multi
        class="danger-accordion"
    >
        <nb-accordion-item>
            <nb-accordion-item-header class="justify-content-center">
                Требуется особое внимание
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div
                    *ngFor="let i of dataScoring.creditHistoryScore.stopFactors"
                    class="d-flex justify-content-around"
                >
                    <p>{{ i.name }}</p>
                    <p>{{ i.description }}</p>
                    <p>{{ i.weight }}</p>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    <ngx-kib [data]="kibData" class="detail-block"></ngx-kib>
    <ngx-soc-fond class="detail-block"></ngx-soc-fond>
    <ngx-black-list-person class="detail-block"></ngx-black-list-person>
    <ngx-tax-inspection class="detail-block"></ngx-tax-inspection>
    <ngx-identification-files
        [data]="customerData"
        class="detail-block"
    ></ngx-identification-files>
    <ngx-passport-data [data]="customerData" class="detail-block">
    </ngx-passport-data>
</div>
