<nb-card>
    <nb-card-header>
        <strong>Бренды</strong>
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex">
                <ngx-input-search
                    class="mr-5"
                    [placeholder]="'Название бренда'"
                    [control]="form.get('name')"
                >
                </ngx-input-search>
                <ngx-search-select
                    [size]="'default'"
                    (searchEmit)="getCategories($event)"
                    [isRequired]="false"
                    [submitted]="false"
                    [data]="categoryList"
                    [control]="form.get('categoryId')"
                    [placeholder]="'Название категории'"
                ></ngx-search-select>
            </div>

            <a routerLink="/catalog/brands/create">
                <button nbButton status="primary">Добавить</button>
            </a>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (deleteItemEvent)="deleteBrand($event)"
            (openModalEvent)="editBrand($event)"
            (changePageEvent)="getBrands($event)"
            [tableColumns]="tableColumns"
            [tableData]="listBrand"
            [productName]="'ни одного бренда'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
