<nb-card>
    <nb-card-header>
        <strong>Бренды</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-input-search
                (searchEvent)="onSearch($event)"
                [placeholder]="'Название бренда'"
            >
            </ngx-input-search>
            <a routerLink="/catalog/brands/create">
                <button nbButton status="primary">Добавить</button>
            </a>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (deleteItemEvent)="deleteBrand($event)"
            (openModalEvent)="openEditModal($event)"
            [tableColumns]="tableColumns"
            [tableData]="listBrand"
            [productName]="'ни одного бренда'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
