<div>
    <div class="float-right">
        <button (click)="createEvent.emit()" nbButton status="primary">
            Добавить
        </button>
    </div>
    <div class="messengers">
        <ngx-custom-table
            (changePageEvent)="getData.emit()"
            (deleteItemEvent)="deleteEvent.emit($event)"
            (openModalEvent)="editEvent.emit($event)"
            [tableColumns]="tableColumns"
            [tableData]="data"
            [productName]="'ни одной соцсети'"
        >
        </ngx-custom-table>
    </div>
</div>
