<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong>Новости для партнера</strong>

        <a routerLink="/catalog/partner-news/create">
            <button nbButton status="primary">Добавить</button>
        </a>
    </nb-card-header>
    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getPartnerNews($event)"
            (deleteItemEvent)="deletePartnerNews($event)"
            (openModalEvent)="updatePartnerNews($event)"
            [tableColumns]="tableColumns"
            [tableData]="listPartnerNews"
            [productName]="'ни одной новости'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
