<nb-alert
    *ngIf="fuelCardCreditLineData?.creditLineDetails?.isClosed"
    status="danger"
    disabled
    class="product-alert"
>
    <strong class="text-center">Топливная карта закрыта</strong>
</nb-alert>
<ngx-custom-table
    (changePageEvent)="getListApplications($event)"
    (rowSelectEvent)="onRowSelect($event)"
    [tableColumns]="tableColumns"
    [tableData]="listApplications"
    [productName]="'ни одной заявки на топливную карту'"
    [actions]="false"
    class="mb-5 d-block"
>
</ngx-custom-table>
<ngx-confirm-buttons
    *ngIf="canResetFuelCard"
    class="responsive-btn"
    (approveEvent)="resetDeclinedApp()"
    status="danger"
    title="Разблокировать"
>
</ngx-confirm-buttons>
<ngx-confirm-buttons
    *ngIf="fuelCardCreditLineData?.creditLineDetails?.canBeClosed"
    class="responsive-btn"
    (approveEvent)="closeFuelCardCreditLine()"
    status="danger"
    title="Закрыть топливную карту"
>
</ngx-confirm-buttons>
<ngx-kib *ngIf="listApplications?.items.length > 0" [data]="kibData"> </ngx-kib>
