<nb-alert
    *ngIf="fuelCardCreditLineData?.creditLineDetails?.isClosed"
    status="danger"
    disabled
    class="float-right w-20"
>
    <strong class="text-center"> Топливная карта закрыта</strong>
</nb-alert>
<ngx-custom-table
    (changePageEvent)="getListApplications($event)"
    (rowSelectEvent)="onRowSelect($event)"
    [tableColumns]="tableColumns"
    [tableData]="listApplications"
    [productName]="'ни одной заявки на топливную карту'"
    [actions]="false"
    class="mb-5 d-block"
>
</ngx-custom-table>
<ngx-confirm-buttons
    *ngIf="canresetDeclinedApp && hasDeclinedApp && allDeclinedApp"
    class="d-block mb-5 w-50 mx-auto"
    (approveEvent)="resetDeclinedApp()"
    status="danger"
    title="Сбросить блокировку заявки"
>
</ngx-confirm-buttons>
<ngx-confirm-buttons
    *ngIf="fuelCardCreditLineData?.creditLineDetails?.canBeClosed"
    class="d-block mb-5 w-50 mx-auto"
    (approveEvent)="closeFuelCardCreditLine()"
    status="danger"
    title="Закрыть топливную карту"
>
</ngx-confirm-buttons>
<ngx-kib [data]="kibData"> </ngx-kib>
