@import '../../../../@theme/styles/themes';

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 300px;
}
::ng-deep .ck.ck-editor__main .ck-editor__editable {
    background-color: nb-theme(input-basic-background-color);
    color: nb-theme(input-basic-text-color);
}
::ng-deep .ck.ck-editor__main .ck-editor__editable:not(.ck-focused) {
    border-color: nb-theme(input-basic-border-color);
}
.validation {
    ::ng-deep .ck-editor__editable:not(.ck-focused) {
        border-color: nb-theme(input-danger-border-color) !important;
    }
}
::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep h6 {
    color: nb-theme(input-basic-text-color) !important;
}
