<div class="row user-personal-info">
    <div *ngIf="userData.identificationInformation" class="col-md-8 personal">
        <nb-alert outline="basic" class="mb-0 alert-title">
            <strong class="text-center">Персональная информация</strong>
        </nb-alert>

        <table class="w-100">
            <tr>
                <td>Номер телефона</td>
                <td>
                    {{ userData.phoneNumber }}
                </td>
            </tr>
            <tr>
                <td>ПИН</td>
                <td>
                    {{ userData.identificationInformation.pin }}
                </td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>
                    {{ userData.identificationInformation.name }}
                </td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td>
                    {{ userData.identificationInformation.surname }}
                </td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td>
                    {{ userData.identificationInformation.patronymic }}
                </td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>
                    {{ gender }}
                </td>
            </tr>
            <tr>
                <td>Дата рождения</td>
                <td>
                    {{
                        userData.identificationInformation.birthDate
                            | date : 'dd.MM.yyyy'
                    }}
                </td>
            </tr>
            <tr>
                <td>Семейное положение</td>
                <td>
                    {{ maritalStatus }}
                </td>
            </tr>
            <tr>
                <td>Адрес прописки</td>
                <td>
                    {{
                        residenceLoc +
                            ', ' +
                            userData.identificationInformation.residenceAddress
                                .address
                    }}
                </td>
            </tr>
            <tr>
                <td>Паспорт</td>
                <td>
                    {{
                        userData.identificationInformation.passport
                            .documentType +
                            ' ' +
                            userData.identificationInformation.passport
                                .documentNumber
                    }}
                </td>
            </tr>
            <tr>
                <td>Дата выдачи</td>
                <td>
                    {{
                        userData.identificationInformation.passport.dateOfIssue
                            | date : 'dd.MM.yyyy'
                    }}
                </td>
            </tr>

            <tr>
                <td>Кем выдан</td>
                <td>
                    {{ userData.identificationInformation.passport.authority }}
                </td>
            </tr>
            <tr>
                <td>Срок действия паспорта</td>
                <td>
                    {{
                        userData.identificationInformation.passport.dateOfExpiry
                            | date : 'dd.MM.yyyy'
                    }}
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4 status">
        <nb-alert [status]="alertStatus">
            <strong class="text-center">{{ status }}</strong>
        </nb-alert>
    </div>
</div>
<div
    *ngIf="userData.identificationInformation"
    class="d-flex mt-5 w-100 align-items-center load-file"
>
    <input
        nbInput
        fullWidth
        type="file"
        id="input-tag"
        (change)="onFileChange($event)"
    />
    <ngx-confirm-buttons
        (approveEvent)="sendUserDocument()"
        status="primary"
        title="Отправить"
    >
    </ngx-confirm-buttons>
</div>
<nb-card class="mt-5" *ngIf="userData.identificationInformation">
    <nb-card-header>Документы</nb-card-header>
    <nb-card-body>
        <div *ngIf="listDocuments.length > 0" class="detail-docs row">
            <ng-container
                *ngFor="
                    let item of listDocuments;
                    let idx = index;
                    trackBy: trackByFn
                "
            >
                <div
                    (click)="dowloadDocument(item.url)"
                    *ngIf="item.type === 'document'"
                    class="document mt-2 col-6 col-sm-3"
                >
                    <ng-container
                        *ngIf="
                            item.fileType === 'doc' || item.fileType === 'docx'
                        "
                    >
                        <img
                            src="../../../../assets/word.png"
                            alt=""
                            width="50"
                        />
                        <br />
                        <p>
                            Word документ -
                            {{ idx + 1 }}(скачать)
                        </p>
                    </ng-container>
                    <ng-container
                        *ngIf="
                            item.fileType === 'xls' || item.fileType === 'xlsx'
                        "
                    >
                        <img
                            src="../../../../assets/excel.png"
                            alt=""
                            width="50"
                        />
                        <br />
                        <p>Excel документ-{{ idx }}(скачать)</p>
                    </ng-container>
                    <ng-container
                        *ngIf="
                            item.fileType !== 'xls' &&
                            item.fileType !== 'xlsx' &&
                            item.fileType !== 'doc' &&
                            item.fileType !== 'docx' &&
                            item.fileType !== 'wmv'
                        "
                    >
                        <img
                            src="../../../../assets/file.png"
                            alt=""
                            width="50"
                        />
                        <br />
                        <p>Документ-{{ idx }}(скачать)</p>
                    </ng-container>

                    <div
                        (click)="dowloadDocument(item.url)"
                        *ngIf="item.fileType === 'wmv'"
                        class="document"
                    >
                        <img
                            src="../../../../assets/video-preview.png"
                            alt=""
                            width="100%"
                        />
                    </div>
                </div>

                <ngx-lightbox-img
                    *ngIf="item.type === 'image'"
                    class="col-6 col-sm-3 mt-2"
                    [safeImgUrl]="item.url"
                ></ngx-lightbox-img>

                <iframe
                    *ngIf="item.type === 'pdf'"
                    [src]="item.url"
                    width="100%"
                    height="500"
                    frameborder="0"
                    class="mt-2"
                ></iframe>

                <video
                    *ngIf="item.type === 'video'"
                    controls
                    class="col-6 col-sm-3 mt-2"
                    [src]="item.url"
                ></video>

                <audio
                    *ngIf="item.type === 'audio'"
                    class="col-6 col-sm-3 mt-2"
                    controls
                    [src]="item.url"
                ></audio>
            </ng-container>
        </div>
    </nb-card-body>
</nb-card>
<ngx-confirm-buttons
    *ngIf="userData.identificationLevel === 'Online' && canOfflineIdentificate"
    (approveEvent)="offlineIdentificate()"
    class="w-50 d-block mx-auto"
    status="primary"
    title="Идентифицировать офлайн"
>
</ngx-confirm-buttons>
