<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong></strong>

        <button (click)="openCreateModal()" nbButton status="primary">
            Добавить
        </button>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getListPartnerPercentages($event)"
            (deleteItemEvent)="deletePercentage($event)"
            [edit]="false"
            [tableColumns]="tableColumns"
            [tableData]="listPercentages"
            [productName]="'ни одного бонуса'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
