<div class="comments mt-5">
    <div
        #scrollMe
        id="messages"
        class="messages"
        *ngIf="comments && comments.length > 0"
    >
        <ng-container *ngFor="let comment of sortArray(comments)">
            <div class="message" *ngIf="userData.sub !== comment.commentatorId">
                <div class="content">
                    <div class="content__header">
                        <span>{{ comment.commentatorFullname }}</span>
                    </div>
                    <div class="text">
                        <span> {{ comment.text }}</span>
                    </div>
                    <div class="date">
                        {{ comment.createdAt | date : 'dd.MM.yyyy, HH:mm' }}
                    </div>
                </div>
            </div>
            <div
                class="my-message"
                *ngIf="userData.sub === comment.commentatorId"
            >
                <div class="content">
                    <div class="content__header">
                        <span>Вы</span>
                    </div>
                    <div class="text">
                        <span>{{ comment.text }}</span>
                    </div>
                    <div class="date">
                        {{ comment.createdAt | date : 'dd.MM.yyyy, HH:mm' }}
                    </div>
                </div>
            </div>
        </ng-container>
        <div id="anchor"></div>
    </div>
    <div class="send-message w-100 mt-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <textarea
                fullWidth
                formControlName="text"
                placeholder="Введите сообщение..."
                nbInput
                rows="2"
            ></textarea>
            <button
                class="d-flex mx-auto mb-2"
                type="submit"
                nbButton
                status="primary"
            >
                Отправить
            </button>
        </form>
    </div>
</div>
