@media (max-width: 425px) {
    .load-file {
        display: block !important;
    }
    .resp-btn {
        width: 100% !important;
    }
    .conf-btn {
        margin-bottom: 20px;
    }
}
