<nz-select
    ngDefaultControl
    [nzMode]="type"
    class="w-100"
    [nzPlaceHolder]="placeholder"
    nzAllowClear
    nzServerSearch
    nzShowSearch
    [compareWith]="compareFn"
    [nzSize]="size"
    [ngClass]="size === 'default' && 'small-input'"
    (nzOnSearch)="onSearch($event)"
    [formControl]="control"
    [nzNotFoundContent]="'Список пуст'"
    [nzStatus]="isRequired && submitted && control.errors?.['required']
                                    ? 'error'
                                    : ''
                            "
>
    <ng-container *ngIf="!isLoading">
        <nz-option *ngIf="!isRequired" nzValue="" nzLabel="Все"></nz-option>
        <nz-option
            *ngFor="let o of data"
            [nzValue]="o.id"
            [nzLabel]="o.name.ru"
        ></nz-option>
    </ng-container>
    <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
        <span nz-icon nzType="loading" class="loading-icon"></span>
        Загрузка...
    </nz-option>
</nz-select>
