<div class="form-group">
    <label for="exampleInputEmail1" class="label">{{ label }} RU</label>
    <ngx-validation-input
        *ngIf="formControlType === 'input'"
        [submitted]="submitted"
        [control]="controlRu"
        [placeholder]="placeholder + ' RU'"
    >
    </ngx-validation-input>
    <ngx-validation-input
        *ngIf="formControlType === 'textarea'"
        [submitted]="submitted"
        [control]="controlRu"
        [placeholder]="placeholder + ' RU'"
        type="textarea"
    >
    </ngx-validation-input>
</div>

<div class="form-group">
    <label for="exampleInputEmail1" class="label">{{ label }} KG</label>
    <ngx-validation-input
        *ngIf="formControlType === 'input'"
        [submitted]="submitted"
        [control]="controlKy"
        [placeholder]="placeholder + ' RU'"
    >
    </ngx-validation-input>
    <ngx-validation-input
        *ngIf="formControlType === 'textarea'"
        [submitted]="submitted"
        [control]="controlKy"
        [placeholder]="placeholder + ' RU'"
        type="textarea"
    >
    </ngx-validation-input>
</div>
<div class="form-group">
    <label for="exampleInputEmail1" class="label">{{ label }} UZB</label>
    <ngx-validation-input
        *ngIf="formControlType === 'input'"
        [submitted]="submitted"
        [control]="controlUz"
        [placeholder]="placeholder + ' RU'"
    >
    </ngx-validation-input>
    <ngx-validation-input
        *ngIf="formControlType === 'textarea'"
        [submitted]="submitted"
        [control]="controlUz"
        [placeholder]="placeholder + ' RU'"
        type="textarea"
    >
    </ngx-validation-input>
</div>
