<div class="form-group">
    <label for="exampleInputEmail1" class="label">{{ label }} RU</label>
    <input
        type="text"
        nbInput
        fullWidth
        id="exampleInputEmail1"
        [placeholder]="placeholder + ' RU'"
        [formControl]="controlRu"
    />
</div>
<div class="form-group">
    <label for="exampleInputEmail1" class="label">{{ label }} KG</label>
    <input
        type="text"
        nbInput
        fullWidth
        id="exampleInputEmail1"
        [placeholder]="placeholder + ' KG'"
        [formControl]="controlKy"
    />
</div>
<div class="form-group">
    <label for="exampleInputEmail1" class="label">{{ label }} UZB</label>
    <input
        type="text"
        nbInput
        fullWidth
        id="exampleInputEmail1"
        [placeholder]="placeholder + ' UZB'"
        [formControl]="controlUz"
    />
</div>
