<nb-card>
    <ng-container>
        <nb-card-body class="d-flex justify-content-center">
            <ngx-button title="Получить заявку" (clickEvent)="getApplication()">
            </ngx-button>
        </nb-card-body>
    </ng-container>
</nb-card>
<nb-card>
    <ng-container>
        <nb-card-body>
            <ngx-custom-table
                (changePageEvent)="getListCreditApplications($event)"
                (rowSelectEvent)="onRowSelect($event)"
                [tableColumns]="tableColumns"
                [tableData]="listApplications"
                [productName]="'ни одной отложенной заявки'"
                [actions]="false"
            >
            </ngx-custom-table>
        </nb-card-body>
    </ng-container>
</nb-card>
