<nb-card>
    <ng-container>
        <!-- <nb-card-header>Идентификация по фотографии</nb-card-header> -->
        <nb-card-body class="d-flex justify-content-center">
            <button
                (click)="getApplication()"
                nbSpinnerStatus="info"
                nbSpinnerSize="medium"
                nbSpinnerMessage=""
                nbButton
                status="primary"
            >
                Получить заявку
            </button>
        </nb-card-body>
    </ng-container>
</nb-card>
