<nb-card>
    <nb-card-header>
        <strong>Акции и Промо</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-input-search (searchEvent)="onSearch($event)">
            </ngx-input-search>
            <a routerLink="/catalog/partner-proms/create">
                <button nbButton status="primary">Добавить</button>
            </a>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getPartnerProms($event)"
            (deleteItemEvent)="deletePartnerProms($event)"
            (openModalEvent)="updatePartnerProms($event)"
            (rowSelectEvent)="userRowSelect($event)"
            [tableColumns]="tableColumns"
            [tableData]="listPartnerProms"
            [productName]="'ни одной промо акции'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
