<nb-card>
    <nb-card-header>
        <strong>Продажисты</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-search-select
                style="width: 280px"
                [isSearch]="true"
                returnVal="phoneNumber"
                (searchEmit)="getCustomers($event)"
                [control]="form.get('userIds')"
                [isRequired]="false"
                [data]="customers"
                [placeholder]="'Выберите номер телефона'"
            ></ngx-search-select>
            <button (click)="openCreateModal()" nbButton status="primary">
                Добавить
            </button>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getListSalespeople($event)"
            (deleteItemEvent)="deleteProduct($event)"
            (rowSelectEvent)="onRowSelect($event)"
            [tableColumns]="tableColumns"
            [tableData]="listProducts"
            [productName]="'ни одного продажиста'"
            [edit]="false"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
