<nb-card>
    <nb-card-header>
        <strong>Список пользователей</strong>
        <div [formGroup]="form" class="credit-filter mt-3">
            <ngx-input-search
                class="mr-5"
                placeholder="Фамилия"
                [control]="form.get('surname')"
            >
            </ngx-input-search>
            <ngx-input-search
                class="mr-5"
                placeholder="Имя"
                [control]="form.get('name')"
            >
            </ngx-input-search>

            <ngx-input-search
                class="mr-5"
                placeholder="Отчество"
                [control]="form.get('patronymic')"
            >
            </ngx-input-search>
            <ngx-input-search
                class="mr-5"
                placeholder="Номер телефона"
                [control]="form.get('phone')"
            >
            </ngx-input-search>
            <nb-select
                size="small"
                fullWidth
                placeholder="Статус идентификации"
                formControlName="status"
            >
                <nb-option value="">Все</nb-option>
                <nb-option value="Online">Онлайн</nb-option>
                <nb-option value="Offline">Офлайн</nb-option>
                <nb-option value="None">Не идентифицирован</nb-option>
            </nb-select>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getListUsers($event)"
            (rowSelectEvent)="getDetailUser($event)"
            [actions]="false"
            [tableColumns]="tableColumns"
            [tableData]="listUsers"
            [productName]="'ни одного пользователя'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
