<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Общая информация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Номер телефона</td>
                    <td>
                        {{ customerData.phoneNumber }}
                    </td>
                </tr>
                <tr>
                    <td>Образование</td>
                    <td>
                        {{
                            getEducationType(data.customerData.educationDegree)
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Семейное положение</td>
                    <td>
                        {{ getMaritalStatus(data.customerData.maritalStatus) }}
                    </td>
                </tr>
                <tr>
                    <td>Иждивенцы</td>
                    <td>
                        {{
                            getDependtsCount(data.customerData.dependentsCount)
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Срок проживания по фактическому адресу (мес)</td>
                    <td>
                        {{
                            getActualResidenceLoc(
                                data.customerData
                                    .durationOfActualResidenceLocation
                            )
                        }}
                    </td>
                </tr>
            </table>

            <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.EducationDegree'])"
                [title]="'Образование'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
            <!-- <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.MaritalStatus'])"
                [title]="'Семейное положение'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit> -->
            <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.DependentsCount'])"
                [title]="'Иждивенцы'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>

            <ngx-credit-application-need-to-edit
                [control]="
                    form?.get([
                        'CustomerData.DurationOfActualResidenceLocation'
                    ])
                "
                [title]="'Срок проживания по фактическому адресу'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Место работы
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <ng-container *ngIf="work.$type === 'entrepreneurship'">
                <table class="w-100">
                    <tr>
                        <td>Тип</td>
                        <td>{{ getWorkType() }}</td>
                    </tr>
                    <tr>
                        <td>Вид деятельности</td>
                        <td>{{ getActivityType(work.type) }}</td>
                    </tr>
                    <tr>
                        <td>Описание деятельности</td>
                        <td>{{ work.description }}</td>
                    </tr>
                    <tr>
                        <td>Стаж работы</td>
                        <td>{{ getWorkExp(work.workExperience) }}</td>
                    </tr>
                    <tr>
                        <td>Ежемесячный доход</td>
                        <td>{{ work.income }}</td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td>{{ translateAddress(work.workAddress) }}</td>
                    </tr>
                </table>
                <nb-accordion
                    *ngIf="data.customerData.occupation.documents.length > 0"
                    multi
                    class="mt-4 d-block mb-4"
                >
                    <nb-accordion-item>
                        <nb-accordion-item-header
                            class="justify-content-center"
                        >
                            Фото документов
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="detail-images row">
                                <ngx-lightbox-img
                                    *ngFor="
                                        let i of data.customerData.occupation
                                            .documents
                                    "
                                    [imgUrl]="i"
                                    class="col-6 col-sm-3"
                                ></ngx-lightbox-img>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
                <ngx-credit-application-need-to-edit
                    [control]="
                        form?.get(['CustomerData.Occupation.Description'])
                    "
                    [title]="'Описание деятельности'"
                    [placeholder]="'Введите'"
                ></ngx-credit-application-need-to-edit>
                <ngx-credit-application-need-to-edit
                    [control]="form?.get(['CustomerData.Occupation.Type'])"
                    [title]="'Вид деятельности'"
                    [placeholder]="'Введите'"
                ></ngx-credit-application-need-to-edit>
            </ng-container>

            <ng-container *ngIf="work.$type === 'employment'">
                <table class="w-100">
                    <tr>
                        <td>Тип</td>
                        <td>{{ getWorkType() }}</td>
                    </tr>

                    <tr>
                        <td>Наименование организации</td>
                        <td>{{ work.company }}</td>
                    </tr>
                    <tr>
                        <td>Должность</td>
                        <td>{{ getWorkPosition(work.position) }}</td>
                    </tr>
                    <tr>
                        <td>Стаж работы</td>
                        <td>{{ getWorkExp(work.workExperience) }}</td>
                    </tr>
                    <tr>
                        <td>Ежемесячный доход</td>
                        <td>{{ work.income }}</td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td>{{ translateAddress(work.workAddress) }}</td>
                    </tr>
                </table>
                <nb-accordion
                    *ngIf="data.customerData.occupation.documents.length > 0"
                    multi
                    class="mt-4 d-block mb-4"
                >
                    <nb-accordion-item>
                        <nb-accordion-item-header
                            class="justify-content-center"
                        >
                            Фото документов
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            <div class="detail-images row">
                                <ngx-lightbox-img
                                    *ngFor="
                                        let i of data.customerData.occupation
                                            .documents
                                    "
                                    [imgUrl]="i"
                                    class="col-6 col-sm-3"
                                ></ngx-lightbox-img>
                            </div>
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
                <ngx-credit-application-need-to-edit
                    [control]="form?.get(['CustomerData.Occupation.Position'])"
                    [title]="'Должность'"
                    [placeholder]="'Введите'"
                ></ngx-credit-application-need-to-edit>
                <ngx-credit-application-need-to-edit
                    [control]="form?.get(['CustomerData.Occupation.Company'])"
                    [title]="'Название компании'"
                    [placeholder]="'Введите'"
                ></ngx-credit-application-need-to-edit>
            </ng-container>

            <ngx-credit-application-need-to-edit
                [control]="
                    form?.get(['CustomerData.Occupation.WorkExperience'])
                "
                [title]="'Стаж работы'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
            <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.Occupation.Income'])"
                [title]="'Ежемесячный доход'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
            <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.Occupation.WorkAddress'])"
                [title]="'Адрес'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion
    *ngIf="objectValues(additionalIncomes).length > 0"
    multi
    class="mt-4"
>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Дополнительный доход
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <div
                    [class]="!form && 'mt-3'"
                    *ngFor="
                        let i of objectValues(additionalIncomes);
                        let idx = index
                    "
                >
                    <tr>
                        <td>Работа</td>
                        <td>Ежемесячный доход</td>
                    </tr>

                    <tr>
                        <td>{{ i.work }}</td>
                        <td>{{ i.value }}</td>
                    </tr>
                    <th colspan="2">
                        <ngx-credit-application-need-to-edit
                            [control]="
                                form?.get([
                                    'CustomerData.AdditionalIncomes[' +
                                        idx +
                                        '].Value.Work'
                                ])
                            "
                            [placeholder]="'Введите'"
                        ></ngx-credit-application-need-to-edit>
                    </th>
                </div>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion *ngIf="spouseData" multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Данные о супруге
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>ФИО</td>
                    <td>
                        {{
                            spouseData.surname +
                                ' ' +
                                spouseData.name +
                                ' ' +
                                spouseData.patronymic
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Номер телефона</td>
                    <td>{{ spouseData?.phoneNumber }}</td>
                </tr>
            </table>
            <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.SpouseData.Surname'])"
                [title]="'ФИО'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
            <ngx-credit-application-need-to-edit
                [control]="form?.get(['CustomerData.SpouseData.PhoneNumber'])"
                [title]="'Номер телефона'"
                [placeholder]="'Введите'"
            ></ngx-credit-application-need-to-edit>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion
    *ngIf="spouseData && objectValues(spouseData.incomes).length > 0"
    multi
    class="mt-4"
>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Дополнительный доход супруга ("и")
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <div
                    [class]="!form && 'mt-3'"
                    *ngFor="
                        let i of objectValues(spouseData.incomes);
                        let idx = index
                    "
                >
                    <tr>
                        <td>Работа</td>
                        <td>Ежемесячный доход</td>
                    </tr>

                    <tr>
                        <td>{{ i.work }}</td>
                        <td>{{ i.value }}</td>
                    </tr>
                    <th colspan="2">
                        <ngx-credit-application-need-to-edit
                            [control]="
                                form?.get([
                                    'CustomerData.SpouseData.Incomes[' +
                                        idx +
                                        '].Value.Work'
                                ])
                            "
                            [placeholder]="'Введите'"
                        ></ngx-credit-application-need-to-edit>
                    </th>
                </div>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion
    *ngIf="objectValues(personalEstates).length > 0"
    multi
    id="RealEstateItems"
    class="mt-4"
>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Движимое имущество
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <div
                    [class]="!form && 'mt-3'"
                    *ngFor="
                        let i of objectValues(personalEstates);
                        let idx = index
                    "
                >
                    <tr>
                        <td>Тип</td>
                        <td>Марка</td>
                        <td>Модель</td>
                        <td>Год выпуска</td>
                    </tr>

                    <tr>
                        <td>{{ getPersonalEstateType(i.type) }}</td>
                        <td>{{ i.brand }}</td>
                        <td>{{ i.model }}</td>
                        <td>{{ i.manufactureYear }}</td>
                    </tr>
                    <th colspan="4">
                        <ngx-credit-application-need-to-edit
                            [control]="
                                form?.get([
                                    'CustomerData.PersonalEstates[' +
                                        idx +
                                        '].Value.Model'
                                ])
                            "
                            [placeholder]="'Введите'"
                        ></ngx-credit-application-need-to-edit>
                    </th>
                </div>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion
    *ngIf="objectValues(realEstates).length > 0"
    multi
    class="mt-4"
    id="PersonalEstateItems"
>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Недвижимое имущество
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <div
                    [class]="!form && 'mt-3'"
                    *ngFor="let i of objectValues(realEstates); let idx = index"
                >
                    <tr>
                        <td>Тип</td>
                        <td>Адрес</td>
                    </tr>

                    <tr>
                        <td>{{ getRealEstateType(i.type) }}</td>
                        <td>{{ i.address }}</td>
                    </tr>
                    <th colspan="2">
                        <ngx-credit-application-need-to-edit
                            [control]="
                                form?.get([
                                    'CustomerData.RealEstates[' +
                                        idx +
                                        '].Value.Address'
                                ])
                            "
                            [placeholder]="'Введите'"
                        ></ngx-credit-application-need-to-edit>
                    </th>
                </div>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<div class="mt-5 row" *ngIf="form">
    <ngx-confirm-buttons
        (approveEvent)="needToEditUserEvent.emit()"
        status="warning"
        title="Редактировать"
        class="d-flex mx-auto col-md-4"
    >
    </ngx-confirm-buttons>
</div>
<div class="mt-4 mb-2">
    <strong>Скоринг карта</strong>
</div>
<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Идентификация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Пол</td>

                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.identificationScore.gender"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>{{ getGender() }}</td>
                </tr>
                <tr>
                    <td>Возраст</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.identificationScore.age"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>{{ dataScoring.identificationScore.ageValue }}</td>
                </tr>
                <tr>
                    <td>Место регистрации по паспорту</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.identificationScore.residenceRegion
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getResidenceLoc(
                                dataScoring.identificationScore
                                    .residenceRegionValue
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Место фактического проживания</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.identificationScore
                                    .actualResidenceRegion
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getResidenceLoc(
                                dataScoring.identificationScore
                                    .actualResidenceRegionValue
                            )
                        }}
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Кредитная история
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Количество дней просрочки</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.creditHistoryScore
                                    .numberOfDaysOverdue
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            dataScoring.creditHistoryScore
                                .numberOfDaysOverdueValue
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Количество раз просрочки</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.creditHistoryScore.numberOfDelays
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{ dataScoring.creditHistoryScore.numberOfDelaysValue }}
                    </td>
                </tr>
                <tr>
                    <td>Новый/Повторный клиент</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.creditHistoryScore.clientHistoryType
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>{{ getClientHistoryType() }}</td>
                </tr>
                <tr>
                    <td>Количество полученных кредитов</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.creditHistoryScore
                                    .numberOfReceivedLoans
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            dataScoring.creditHistoryScore
                                .numberOfReceivedLoansValue
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Количество параллельных кредитов</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.creditHistoryScore
                                    .numberOfParallelLoans
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            dataScoring.creditHistoryScore
                                .numberOfParallelLoansValue
                        }}
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion
    *ngIf="dataScoring.solvencyScore.employeePosition"
    multi
    class="mt-4"
>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Платежеспособность
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Должность</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.solvencyScore.employeePosition"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getWorkPosition(
                                dataScoring.solvencyScore.employeePositionValue
                            )
                        }}
                    </td>
                </tr>
                <tr *ngIf="dataScoring.solvencyScore.entrepreneurshipType">
                    <td>Вид деятельности</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.solvencyScore.entrepreneurshipType
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getActivityType(
                                dataScoring.solvencyScore
                                    .entrepreneurshipTypeValue
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Ежемесячный доход</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.solvencyScore.income"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>{{ dataScoring.solvencyScore.incomeValue }}</td>
                </tr>
                <tr>
                    <td>Стаж работы</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.solvencyScore.workExperience"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getWorkExp(
                                dataScoring.solvencyScore.workExperienceValue
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Доп. доход</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.solvencyScore.additionalIncome"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{ dataScoring.solvencyScore.additionalIncomeValue }}
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Персональная информация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Семейное положение</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.personalInformationScore
                                    .maritalStatus
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getMaritalStatus(
                                dataScoring.personalInformationScore
                                    .maritalStatusValue
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Иждивенцы</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.personalInformationScore
                                    .dependentsCount
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getDependtsCount(
                                dataScoring.personalInformationScore
                                    .dependentsCountValue
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Срок проживания - Срок проживания по фактическому адресу
                        (мес)
                    </td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.personalInformationScore
                                    .durationOfResidenceAtTheActualLocation
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        {{
                            getActualResidenceLoc(
                                dataScoring.personalInformationScore
                                    .durationOfResidenceAtTheActualLocationValue
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Наличие недвижимого имущества</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.personalInformationScore
                                    .realEstateAvailability
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        <a
                            *ngIf="
                                dataScoring.personalInformationScore
                                    .realEstateAvailabilitiesValue &&
                                dataScoring.personalInformationScore
                                    .realEstateAvailabilitiesValue.length !== 0
                            "
                            style="color: #1890ff"
                            (click)="scrollTo('PersonalEstateItems')"
                            >Смотреть</a
                        >
                    </td>
                </tr>
                <tr>
                    <td>Наличие движимого имущества</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.personalInformationScore
                                    .personalEstateAvailability
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                    <td>
                        <a
                            *ngIf="
                                dataScoring.personalInformationScore
                                    .personalEstateAvailabilitiesValue &&
                                dataScoring.personalInformationScore
                                    .personalEstateAvailabilitiesValue
                                    .length !== 0
                            "
                            style="color: #1890ff"
                            (click)="scrollTo('RealEstateItems')"
                            >Смотреть</a
                        >
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Итоги разделов
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Раздел идентификация</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.identificationScore.score"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Раздел кредитная история</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.creditHistoryScore.score"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Раздел платежеспособность</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.solvencyScore.score"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Раздел персональная информация</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="dataScoring.personalInformationScore.score"
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Итого</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                dataScoring.personalInformationScore.score +
                                dataScoring.solvencyScore.score +
                                dataScoring.creditHistoryScore.score +
                                dataScoring.identificationScore.score
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Условия по кредиту
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Сумма кредита</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances
                                        .requestingAmount * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Срок кредита (мес)</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances
                                        .requestedMonths * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Ежемесячный взнос</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances
                                        .monthlyInstallment * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Совокупные ежемес. доход</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances.income * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>

                <tr>
                    <td>Взносы по параллельным кредитам</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances
                                        .parallelLoansMonthlyInstallment * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Семейные расходы</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances.expenses * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Расходы на иждивенцев</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances
                                        .expensesForDependents * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>ЧП после всех расходов</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(
                                    dataScoring.loanCircumstances
                                        .incomeAfterExpenses * 100
                                ) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Соотношение взноса к ЧП</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                (Math.round(
                                    dataScoring.loanCircumstances
                                        .monthlyInstallmentToIncomeRatio * 100
                                ) /
                                    100) *
                                    100 +
                                '%'
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
                <tr>
                    <td>Расчет максимального лимита</td>
                    <td>
                        <nb-badge
                            class="custom-badge"
                            [text]="
                                Math.round(dataScoring.maximumLimit * 100) / 100
                            "
                            status="warning"
                            position="default"
                        >
                        </nb-badge>
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
