<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Место работы
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table *ngIf="work.$type === 'entrepreneurship'" class="w-100">
                <tr>
                    <td>Тип</td>
                    <td>{{ getWorkType() }}</td>
                </tr>
                <tr>
                    <td>Вид деятельности</td>
                    <td>{{ getActivityType() }}</td>
                </tr>
                <tr>
                    <td>Описание деятельности</td>
                    <td>{{ work.description }}</td>
                </tr>
                <tr>
                    <td>Стаж работы</td>
                    <td>{{ getWorkExp() }}</td>
                </tr>
                <tr>
                    <td>Ежемесячный доход</td>
                    <td>{{ work.income }}</td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td>{{ work.workAddress }}</td>
                </tr>
            </table>
            <table *ngIf="work.$type === 'employment'" class="w-100">
                <tr>
                    <td>Тип</td>
                    <td>{{ getWorkType() }}</td>
                </tr>

                <tr>
                    <td>Наименование организации</td>
                    <td>{{ work.description }}</td>
                </tr>
                <tr>
                    <td>Должность</td>
                    <td>{{ work.description }}</td>
                </tr>
                <tr>
                    <td>Стаж работы</td>
                    <td>{{ getWorkExp() }}</td>
                </tr>
                <tr>
                    <td>Ежемесячный доход</td>
                    <td>{{ work.income }}</td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td>{{ work.workAddress }}</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<!-- <nb-accordion multi class='mt-4'>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">

        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion> -->
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Дополнительный доход
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Работа</td>
                    <td>Ежемесячный доход</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Дополнительный доход супруга ("и")
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>ФИО</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Работа</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Доход супруги</td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Движимое имущество
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Год выпуска</th>
                    </tr>
                </thead>
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                    <td>Цивик</td>

                    <td>2002</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Недвижимое имущество
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Тип</td>
                    <td>Адрес</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Идентификация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Пол</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Возраст</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Место регистрации по паспорту</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Место фактического проживания</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Кредитная история
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Количество дней просрочки</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Количество раз просрочки</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Новый/Повторный клиент</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Количество полученных кредитов</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Количество параллельных кредитов</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Платежеспособность
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Должность</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ежемесячный доход</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Стаж работы</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Доп. доход</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Персональная информация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Семейное положение</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Иждивенцы</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Срок проживание - Срок проживания по фактическому адресу
                        (мес)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Наличие недвижимого имущества</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Наличие движимого имущества</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Итоги разделов
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Раздел идентификация</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Раздел кредитная история</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Раздел платежеспособность</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Раздел персональная информация</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Итого</td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Условия по кредиту
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Сумма кредита</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Срок кредита (мес)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ежемесячный взнос</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Совокупные ежемес. доход</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Взносы по параллельным кредитам</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Семейные расходы</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Расходы на иждивенцев</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ЧП после всех расходов</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Соотношение взноса к ЧП</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Расчет максимального лимита</td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
