<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Место работы
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Тип</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Наименование организации</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Должность</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Стаж работы</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ежемесячный доход</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<!-- <nb-accordion multi class='mt-4'>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">

        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion> -->
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Дополнительный доход
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Описание работы</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Сайма телеком</td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Дополнительный доход супруга ("и")
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Описание работы</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Сайма телеком</td>
                    <td></td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Движимое имущество
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Год выпуска</th>
                    </tr>
                </thead>
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                    <td>Цивик</td>

                    <td>2002</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Недвижимое имущество
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Адрес</th>
                    </tr>
                </thead>
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Идентификация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Адрес</th>
                    </tr>
                </thead>
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Кредитная история
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Платежеспособность
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Персональная информация
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Итоги разделов
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion multi class="mt-4">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Условия по кредиту
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>Автомобиль</td>
                    <td>Хонда</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
