<!-- <form *ngIf="isNeedToEdit" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="need-to-edit">
        <div class="col-md-4">
            <p class="row show-grid">Лицевая сторона паспорта</p>
            <p class="row show-grid">Оборотная сторона паспорта</p>
            <p class="row show-grid">Селфи с паспортом</p>
            <p class="row show-grid">ИНН</p>
            <p class="row show-grid">Номер паспорта</p>
            <p class="row show-grid">Адрес</p>
        </div>
        <div class="col-md-4 offset-md-1">
            <nb-select
                multiple
                formControlName="PassportFrontSideImageId"
                class="select"
                fullWidth
                placeholder="Выберите"
            >
                <nb-option
                    value="пожалуйста, сфотографируйтесь с действующим паспортом."
                    >пожалуйста, сфотографируйтесь с действующим
                    паспортом.</nb-option
                >

                <nb-option value="пожалуйста, сфотографируйтесь без очков."
                    >пожалуйста, сфотографируйтесь без очков.</nb-option
                >
                <nb-option
                    value="пожалуйста, сфотографируйтесь с паспортом у лица без головного убора."
                    >пожалуйста, сфотографируйтесь с паспортом у лица без
                    головного убора.</nb-option
                >
            </nb-select>
            <nb-select
                multiple
                formControlName="PassportBackSideImageId"
                class="select"
                fullWidth
                placeholder="Выберите"
            >
                <nb-option
                    value="Пожалуйста введите правильно passportBackSideImageId"
                    >Пожалуйста введите правильно</nb-option
                >
            </nb-select>
            <nb-select
                multiple
                formControlName="SelfieWithPassportImageId"
                class="select"
                fullWidth
                placeholder="Выберите"
            >
                <nb-option
                    value="Пожалуйста введите правильно SelfieWithPassportImageId"
                    >Пожалуйста введите правильно</nb-option
                >
            </nb-select>
            <nb-select
                multiple
                formControlName="Pin"
                class="select"
                fullWidth
                placeholder="Выберите"
            >
                <nb-option value="Пожалуйста введите правильно Pin"
                    >Пожалуйста введите правильно</nb-option
                >
            </nb-select>
            <nb-select
                multiple
                formControlName="DocumentNumber"
                class="select"
                fullWidth
                placeholder="Выберите"
            >
                <nb-option value="Пожалуйста введите правильно documentNumber"
                    >Пожалуйста введите правильно</nb-option
                >
            </nb-select>
            <nb-select
                multiple
                formControlName="Address"
                class="select"
                fullWidth
                placeholder="Выберите"
            >
                <nb-option value="Пожалуйста введите правильно address"
                    >Пожалуйста введите правильно</nb-option
                >
            </nb-select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit"  nbButton status="warning">
                Отправить на редактирование
            </button>
        </div>
        <div class="col-md-4">
            <button (click)="hide()"  nbButton status="info">
                Скрыть
            </button>
        </div>
    </div>
</form> -->
<nb-select
    multiple
    [formControl]="control"
    class="select mb-2 mt-3"
    fullWidth
    placeholder="Выберите"
>
    <nb-option *ngFor="let item of data" [value]="item.value">{{
        item.label
    }}</nb-option>
</nb-select>

<textarea
    type="text"
    nbInput
    fullWidth
    id="exampleInputEmail1"
    [value]="control.value"
    [placeholder]="placeholder"
    (input)="onChange($event.target.value)"
    [status]="submitted && control.errors?.['required']
                                    ? 'danger'
                                    : 'basic'"
></textarea>
