<div class="form-group row">
    <label for="exampleInputEmail1" class="label col-sm-3 col-form-label">
        {{ weekDay }}
    </label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputFirstName" class="label"
                        >Начало рабочего времени</label
                    >
                    <input
                        nbInput
                        fullWidth
                        type="time"
                        [formControl]="workingHourStart"
                        [status]="
                                submitted && workingHourStart.errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputLastName" class="label"
                        >Конец рабочего времени</label
                    >
                    <input
                        fullWidth
                        nbInput
                        type="time"
                        [formControl]="workingHourEnd"
                        [status]="
                                submitted && workingHourEnd.errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputEmail" class="label">Начало обеда</label>
                    <input
                        nbInput
                        fullWidth
                        type="time"
                        [formControl]="lunchHourStart"
                        [status]="
                                submitted && lunchHourStart.errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputWebsite" class="label">Конец обеда</label>
                    <input
                        nbInput
                        fullWidth
                        type="time"
                        [formControl]="lunchHourEnd"
                        [status]="
                                submitted && lunchHourEnd.errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                    />
                </div>
            </div>
        </div>
        <div class="form-group">
            <nb-checkbox
                [formControl]="isWeekend"
                (ngModelChange)="changeMethod($event)"
                >Выходной день</nb-checkbox
            >
        </div>
    </div>
</div>
