.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        position: relative;
        margin-top: 10px;
        button {
            width: 30px;
            height: 30px;
            top: 3px;
            right: 3px;
            position: absolute;
        }
        img {
            width: 200px;
            object-fit: contain;
        }
    }
}
.center-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
