<nb-alert
    *ngIf="creditLineData?.isClosed"
    status="danger"
    disabled
    class="product-alert"
>
    Кредитная линия закрыта
</nb-alert>
<strong class="" *ngIf="listApplicationsIncreaseLimit?.items.length > 0"
    >Заявки на увеличение</strong
>

<ngx-custom-table
    (changePageEvent)="getListIncreaseLimitApplications($event)"
    (rowSelectEvent)="onRowSelectIncreaseLimit($event)"
    [tableColumns]="tableColumnsIncreaseLimit"
    [tableData]="listApplicationsIncreaseLimit"
    [productName]="'ни одной заявки на увеличение лимита'"
    [actions]="false"
    class="mb-5 mt-2 d-block"
>
</ngx-custom-table>

<strong *ngIf="listApplications0_0_3?.items.length > 0">Основная заявка</strong>
<ngx-custom-table
    (changePageEvent)="getListApplications($event)"
    (rowSelectEvent)="onRowSelect0_0_3($event)"
    [tableColumns]="tableColumns"
    [tableData]="listApplications0_0_3"
    [productName]="'ни одной заявки на 0-0-3'"
    [actions]="false"
    class="mb-5 mt-2 d-block"
>
</ngx-custom-table>

<ngx-confirm-buttons
    *ngIf="canResetApp0_0_3"
    class="d-block mb-5 w-50 mx-auto"
    (approveEvent)="resetDeclinedApp()"
    status="danger"
    title="Сбросить блокировку заявки на 0-0-3"
>
</ngx-confirm-buttons>
<ngx-confirm-buttons
    *ngIf="canResetAppIncreaseLimit"
    class="d-block mb-5 w-50 mx-auto"
    (approveEvent)="resetIncreaseLimitDeclinedApp()"
    status="danger"
    title="Сбросить блокировку заявки на увеличение лимита"
>
</ngx-confirm-buttons>
<ngx-confirm-buttons
    *ngIf="canCloseCreditLine"
    class="d-block mb-5 w-50 mx-auto"
    (approveEvent)="closeCreditLine()"
    status="danger"
    title="Закрыть кредитную линию"
>
</ngx-confirm-buttons>
<ngx-kib *ngIf="listApplications0_0_3?.items.length > 0" [data]="kibData">
</ngx-kib>
