<form [formGroup]="form" (ngSubmit)="onFirstSubmit()">
    <div class="form-group">
        <label for="exampleInputEmail1" class="label">Номер телефона</label>
        <ngx-search-select
            returnVal="phoneNumber"
            (searchEmit)="getCustomers($event)"
            [control]="form.get('userId')"
            [isRequired]="true"
            [submitted]="submitted"
            [data]="customers"
            [placeholder]="'Выберите номер телефона'"
        ></ngx-search-select>
    </div>

    <button class="d-flex mx-auto" type="submit" nbButton status="primary">
        Добавить
    </button>
</form>
