<nb-card>
    <nb-card-header>
        <div
            [formGroup]="filterForm"
            class="d-flex justify-content-evenly mt-3"
        >
            <input
                class="w-50 mr-5"
                formControlName="from"
                fullWidth
                onfocus="(this.type='date')"
                type="text"
                format="dd.MM.yyyy"
                nbInput
                placeholder="Дата с"
            />
            <input
                onfocus="(this.type='date')"
                type="text"
                placeholder="Дата по"
                class="w-50 mr-5"
                formControlName="to"
                fullWidth
                format="dd.MM.yyyy"
                nbInput
            />
            <nb-select
                class="w-50"
                fullWidth
                placeholder="Тип"
                formControlName="status"
            >
                <nb-option value="">Все</nb-option>
                <nb-option value="Requested">Ожидание</nb-option>
                <nb-option value="InProcess">В процессе</nb-option>
                <nb-option value="Approved">Одобренный</nb-option>
                <nb-option value="Declined">Отклоненный</nb-option>
                <nb-option value="EditRequired"
                    >Нужно отредактировать</nb-option
                >
                <nb-option value="Timeout">Время и стекло</nb-option>
            </nb-select>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getApplicationsEvent.emit($event)"
            (rowSelectEvent)="onRowSelect($event)"
            [tableColumns]="tableColumns"
            [tableData]="listApplications"
            [productName]="'ни одной заявки'"
            [actions]="false"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
