<nb-card>
    <nb-card-header>
        <strong>Места</strong>
        <div class="d-flex justify-content-between mt-3">
            <div [formGroup]="filterForm" class="d-flex">
                <ngx-input-search
                    class="mr-5"
                    placeholder="Поиск по названию"
                    [control]="filterForm.get('name')"
                >
                </ngx-input-search>
                <nb-select
                    style="width: 200px"
                    class="mr-5"
                    size="small"
                    fullWidth
                    placeholder="Тип"
                    formControlName="type"
                >
                    <nb-option value="">Все</nb-option>
                    <nb-option value="10">Торговый центр</nb-option>
                    <nb-option value="20">Базар</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getApplicationsEvent.emit($event)"
            [tableColumns]="tableColumns"
            [tableData]="listApplications"
            [productName]="'ни одной заявки'"
            [actions]="false"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
