<div class="row justify-content-center">
    <div class="col-md-8">
        <nb-card>
            <nb-card-header>{{
                this.branchId ? 'Редактирование филиала' : 'Создание филиала'
            }}</nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Название</label
                        >
                        <div class="col-sm-9">
                            <ngx-validation-input
                                [submitted]="submitted"
                                [control]="form.get('name')"
                                placeholder="Введите название"
                            >
                            </ngx-validation-input>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Адрес
                        </label>
                        <div class="col-sm-9">
                            <ngx-validation-input
                                [submitted]="submitted"
                                [control]="form.get('address')"
                                placeholder="Введите адрес"
                            >
                            </ngx-validation-input>
                        </div>
                    </div>

                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_1')"
                        [workingHourEnd]="form.get('workingHourEnd_1')"
                        [lunchHourStart]="form.get('lunchHourStart_1')"
                        [lunchHourEnd]="form.get('lunchHourEnd_1')"
                        [weekDay]="'Понедельник'"
                    ></ngx-weekdays>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                        >
                        </label>
                        <div class="col-sm-9">
                            <button
                                nbButton
                                (click)="setTimes()"
                                type="button"
                                status="info"
                                nbPopover="Скопировать время c понедельника на остальные дни недели"
                                nbPopoverTrigger="hint"
                                nbPopoverPlacement="top"
                                class="mx-auto d-flex"
                            >
                                Повторить
                            </button>
                        </div>
                    </div>

                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_2')"
                        [workingHourEnd]="form.get('workingHourEnd_2')"
                        [lunchHourStart]="form.get('lunchHourStart_2')"
                        [lunchHourEnd]="form.get('lunchHourEnd_2')"
                        [weekDay]="'Вторник'"
                    ></ngx-weekdays>
                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_3')"
                        [workingHourEnd]="form.get('workingHourEnd_3')"
                        [lunchHourStart]="form.get('lunchHourStart_3')"
                        [lunchHourEnd]="form.get('lunchHourEnd_3')"
                        [weekDay]="'Среда'"
                    ></ngx-weekdays>
                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_4')"
                        [workingHourEnd]="form.get('workingHourEnd_4')"
                        [lunchHourStart]="form.get('lunchHourStart_4')"
                        [lunchHourEnd]="form.get('lunchHourEnd_4')"
                        [weekDay]="'Четверг'"
                    ></ngx-weekdays>
                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_5')"
                        [workingHourEnd]="form.get('workingHourEnd_5')"
                        [lunchHourStart]="form.get('lunchHourStart_5')"
                        [lunchHourEnd]="form.get('lunchHourEnd_5')"
                        [weekDay]="'Пятница'"
                    ></ngx-weekdays>
                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_6')"
                        [workingHourEnd]="form.get('workingHourEnd_6')"
                        [lunchHourStart]="form.get('lunchHourStart_6')"
                        [lunchHourEnd]="form.get('lunchHourEnd_6')"
                        [weekDay]="'Суббота'"
                    ></ngx-weekdays>
                    <ngx-weekdays
                        [submitted]="submitted"
                        [workingHourStart]="form.get('workingHourStart_7')"
                        [workingHourEnd]="form.get('workingHourEnd_7')"
                        [lunchHourStart]="form.get('lunchHourStart_7')"
                        [lunchHourEnd]="form.get('lunchHourEnd_7')"
                        [weekDay]="'Воскресенье'"
                    ></ngx-weekdays>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Номер телефона</label
                        >

                        <div class="col-sm-9">
                            <ngx-phone-number-input
                                [submitted]="submitted"
                                [control]="form.get('phoneNumber')"
                                [isRequired]="false"
                                placeholder="Введите номер телефона"
                            >
                            </ngx-phone-number-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Электронная почта</label
                        >
                        <div class="col-sm-9">
                            <input
                                type="email"
                                nbInput
                                fullWidth
                                id="exampleInputEmail1"
                                placeholder="Введите электронная почту"
                                formControlName="email"
                                [status]="
                                submitted && (form.get('email')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Место</label
                        >
                        <div class="col-sm-9">
                            <ngx-search-select
                                [isRequired]="false"
                                [submitted]="submitted"
                                [control]="form.get('mallId')"
                                (searchEmit)="getMalls($event)"
                                [data]="malls"
                                [placeholder]="'Введите место'"
                            ></ngx-search-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Населенный пункт</label
                        >
                        <div class="col-sm-9">
                            <ngx-multiple-search-select
                                [isRequired]="false"
                                [submitted]="submitted"
                                [control]="form.get('localityId')"
                                (searchEmit)="getLocalities($event)"
                                [data]="localities"
                                [placeholder]="'Введите населенный пункт'"
                                [type]="'default'"
                                [isRequired]="true"
                            ></ngx-multiple-search-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Локация</label
                        >
                        <div
                            *ngIf="branchId ? branchData : true"
                            class="col-sm-9"
                        >
                            <ngx-custom-map
                                [submitted]="submitted"
                                [control]="form.get('location')"
                                [baseLocation]="
                                    branchId && branchData.location.coordinates
                                "
                            ></ngx-custom-map>
                        </div>
                    </div>
                    <button
                        class="d-flex mx-auto"
                        type="submit"
                        nbButton
                        status="primary"
                    >
                        Подтвердить
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
