<nb-card>
    <nb-card-header>
        <strong>Категории</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-input-search
                (searchEvent)="onSearch($event)"
                [placeholder]="'Название категории'"
            >
            </ngx-input-search>
            <a routerLink="/catalog/categories/create">
                <button nbButton status="primary">Добавить</button>
            </a>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getCategories($event)"
            (deleteItemEvent)="deleteCategory($event)"
            (openModalEvent)="openEdit($event)"
            [tableColumns]="tableColumns"
            [tableData]="listCategory"
            [productName]="'ни одной категории'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
