<nb-card>
    <nb-card-header>
        <strong>Категории</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-input-search
                (searchEvent)="onSearch($event)"
                [placeholder]="'Название категории'"
            >
            </ngx-input-search>
            <button (click)="openCreateModal()" nbButton status="primary">
                Добавить
            </button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (deleteItemEvent)="deleteCategory($event)"
            (openModalEvent)="openEditModal($event)"
            [tableColumns]="tableColumns"
            [tableData]="listCategory"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
