<div class="row justify-content-center">
    <div class="col-md-8">
        <nb-card>
            <nb-card-header
                >{{
                    this.newsId ? 'Редактирование новости' : 'Создание новости'
                }}
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Заголовок</label
                        >
                        <div class="col-sm-9">
                            <ngx-localization-inputs
                                [controlRu]="form.get('titleRu')"
                                [controlKy]="form.get('titleKg')"
                                [controlUz]="form.get('titleUz')"
                                [label]="'Заголовок'"
                                [placeholder]="'Введите Заголовок'"
                            >
                            </ngx-localization-inputs>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Текст</label
                        >
                        <div class="col-sm-9">
                            <ngx-localization-inputs
                                [controlRu]="form.get('textRu')"
                                [controlKy]="form.get('textKg')"
                                [controlUz]="form.get('textUz')"
                                [label]="'Текст'"
                                [placeholder]="'Введите текст'"
                            >
                            </ngx-localization-inputs>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Короткий текст</label
                        >
                        <div class="col-sm-9">
                            <ngx-localization-inputs
                                [controlRu]="form.get('shortTextRu')"
                                [controlKy]="form.get('shortTextKg')"
                                [controlUz]="form.get('shortTextUz')"
                                [label]="'Короткий текст'"
                                [placeholder]="'Введите Короткий текст'"
                            >
                            </ngx-localization-inputs>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Обложка</label
                        >
                        <div class="col-sm-9">
                            <input
                                nbInput
                                fullWidth
                                id="exampleInputPassword1"
                                placeholder="Обложка"
                                class="form-control"
                                type="file"
                                (change)="onFileChange($event, 'cover')"
                                id="formFile"
                            />
                            <img
                                [src]="coverImg | useHttpImgSrc"
                                alt=""
                                width="200"
                                class="center mt-3"
                            />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Активен</label
                        >
                        <div class="col-sm-9">
                            <nb-select
                                fullWidth
                                formControlName="isActive"
                                placeholder="Активен"
                            >
                                <nb-option [value]="true">Да</nb-option>
                                <nb-option [value]="false">Нeт</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Продукт</label
                        >
                        <div class="col-sm-9">
                            <ngx-search-select
                                [control]="form.get('productId')"
                                (searchEmit)="getProducts($event)"
                                [data]="products"
                                [placeholder]="'Продукт'"
                            ></ngx-search-select>
                        </div>
                    </div>

                    <button
                        class="center-button"
                        type="submit"
                        nbButton
                        status="danger"
                    >
                        Подтвердить
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
