<ng-container *ngIf="tableData && tableData.items.length > 0">
    <ng2-smart-table
        [settings]="settings"
        [source]="tableData.items"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
        (userRowSelect)="onRowSelect($event)"
    >
    </ng2-smart-table>

    <ngx-pagination
        (changePageEvent)="changePage($event)"
        [data]="tableData"
    ></ngx-pagination>
</ng-container>
<ng-container *ngIf="tableData && tableData.items.length === 0">
    <h6 class="text text-center">Здесь пока нет {{ productName }}</h6>
</ng-container>
