<ng-container *ngIf="tableData">
    <ng2-smart-table
        [settings]="settings"
        [source]="tableData.items"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)"
        (userRowSelect)="onRowSelect($event)"
    >
    </ng2-smart-table>
    <nz-pagination
        *ngIf="tableData.totalItemCount > 20"
        class="custom-pagination header"
        (nzPageIndexChange)="changePage($event)"
        [nzPageIndex]="tableData.pageNumber"
        [nzTotal]="tableData.totalItemCount"
        [nzPageSize]="tableData.pageSize"
    ></nz-pagination>
</ng-container>
