<nb-card>
    <nb-card-header>
        <strong>Партнеры</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-input-search
                (searchEvent)="onSearch($event)"
                [placeholder]="'Название партнера'"
            >
            </ngx-input-search>
            <a routerLink="/catalog/partners/create">
                <button nbButton status="primary">Добавить</button>
            </a>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (deleteItemEvent)="deletePartner($event)"
            (openModalEvent)="updatePartner($event)"
            (rowSelectEvent)="userRowSelect($event)"
            [tableColumns]="tableColumns"
            [tableData]="listPartner"
            [productName]="'ни одного партнера'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
