<div class="row justify-content-center">
    <div class="col-md-8">
        <nb-card>
            <nb-card-header
                >{{
                    partnerPromsId
                        ? 'Редактирование промо-акции'
                        : 'Создание промо-акции'
                }}
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Заголовок</label
                        >
                        <div class="col-sm-9">
                            <ngx-validation-input
                                [submitted]="submitted"
                                [control]="form.get('title')"
                                placeholder="Введите заголовок"
                            >
                            </ngx-validation-input>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Партнер</label
                        >
                        <div class="col-sm-9">
                            <ngx-search-select
                                [submitted]="submitted"
                                [control]="form.get('partnerId')"
                                (searchEmit)="getPartners($event)"
                                [data]="partners"
                                [placeholder]="'Партнер'"
                            ></ngx-search-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Обложка</label
                        >
                        <div class="col-sm-9">
                            <ngx-img-input
                                [control]="form.get('cover')"
                                [submitted]="submitted"
                                [imgSrc]="form.get('cover').value"
                            ></ngx-img-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Дата начала
                        </label>
                        <div class="col-sm-9">
                            <input
                                type="date"
                                formControlName="startDateTime"
                                fullWidth
                                nbInput
                                placeholder="Дата начала"
                                [status]="
                                submitted && (form.get('startDateTime')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                            />

                            <!-- <input
                                type="text"
                                formControlName="startDateTime"
                                fullWidth
                                nbInput
                                placeholder="Дата начала"
                                [nbDatepicker]="formpicker"
                                [status]="
                                submitted && (form.get('startDateTime')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                            />
                            <nb-datepicker #formpicker></nb-datepicker> -->

                            <!-- format="dd/MM/yyyy" -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Дата окончания
                        </label>
                        <div class="col-sm-9">
                            <input
                                type="date"
                                formControlName="endDateTime"
                                fullWidth
                                nbInput
                                placeholder="Дата окончания"
                                [status]="
                                submitted && (form.get('endDateTime')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                            />
                            <!-- <nb-datepicker #formpickermy></nb-datepicker>

                            <input
                                type="text"
                                formControlName="endDateTime"
                                fullWidth
                                nbInput
                                placeholder="Дата окончания"
                                [nbDatepicker]="formpickermy"
                                [status]="
                                submitted && (form.get('endDateTime')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                            /> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Контент</label
                        >
                        <div
                            class="col-sm-9"
                            *ngIf="partnerPromsId ? partnerPromsData : true"
                        >
                            <ngx-editor
                                [submitted]="submitted"
                                [data]="partnerPromsData?.hmtlBody"
                                [control]="form.get('hmtlBody')"
                            ></ngx-editor>
                        </div>
                    </div>
                    <button
                        class="d-flex mx-auto"
                        type="submit"
                        nbButton
                        status="primary"
                    >
                        Подтвердить
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
