.big-confirm {
    width: 600px;
    .label {
        color: white;
    }
}
.ticker {
    display: none;
    section {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    section .scroll {
        width: 100%;
        display: block;
    }

    section .scroll div {
        animation: animate 8s linear infinite;
    }

    @keyframes animate {
        // 0% {
        //     transform: translateX(40%);
        // }
        // 100% {
        //     transform: translateX(-70%);
        // }
        0% {
            transform: translateX(70vw);
        }
        100% {
            transform: translateX(-110vw);
        }
    }
}
@media (max-width: 425px) {
    .default-confirm {
        font-size: 13px;

        // display: none;
    }
    // .ticker {
    //     display: block;
    // }
}
