<ng-template #form>
    <div *ngIf="visible" class="p-2">
        <div class="d-flex">
            <button
                (click)="approve()"
                size="small"
                nbButton
                status="success"
                type="click"
                ghost
            >
                Подтвердить
            </button>
            <button
                (click)="decline()"
                size="small"
                nbButton
                status="danger"
                type="click"
                ghost
            >
                Отменить
            </button>
        </div>
    </div>
</ng-template>
<button
    class="w-100"
    nbButton
    (click)="onClick()"
    [status]="status"
    [nbPopover]="form"
>
    {{ title }}
</button>
