// .custom-table {
//     height: 300px;
// }
tr,
td {
    border: 1px solid #000;
    padding: 20px 20px;
    text-align: center;
}
td {
    width: 100vw;
}
.social-fund {
    justify-content: center;
    .text-right {
        margin-left: 16vw;
    }
}

@media (max-width: 768px) {
    .social-fund {
        display: block;
    }
}
