<nb-accordion multi>
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-between">
            <div></div>
            Социальный фонд
            <a
                class="pr-5"
                href="http://"
                target="_blank"
                rel="noopener noreferrer"
                >все</a
            >
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="table-bordered w-100 custom-table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
