<nb-card>
    <nb-card-header class="">
        <strong>Партнеры - Бонусы</strong>
        <div class="d-flex justify-content-between mt-2">
            <ngx-search-select
                class="select-width"
                size="large"
                (searchEmit)="getPartners($event)"
                [control]="form.get('externalId')"
                [isRequired]="false"
                [data]="contractorPartners"
                [placeholder]="'Введите название партнера'"
            ></ngx-search-select>
            <button (click)="openCreateModal()" nbButton status="primary">
                Добавить
            </button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getListPartners($event)"
            (deleteItemEvent)="deletePartner($event)"
            (rowSelectEvent)="getDetail($event)"
            [edit]="false"
            [tableColumns]="tableColumns"
            [tableData]="listPartners"
            [productName]="'ни одного партнера'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
