@import '../../../../@theme/styles/themes';
.detail-info {
    ::ng-deep nb-alert {
        padding: 5px 15px 5px 15px;
    }
    width: 90%;
    margin: 0 auto;

    .status {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .data {
        margin-top: 40px;
        // margin: 0 auto;
        // display: flex;
        img {
            height: max-content;
        }
    }
    td,
    th {
        color: nb-theme(select-outline-basic-text-color);
        border-color: nb-theme(select-outline-basic-border-color);
        border-style: nb-theme(select-outline-border-style);
        border-width: nb-theme(select-outline-border-width);
        border-radius: nb-theme(select-rectangle-border-radius);
        padding: 15px 40px;
    }
    .detail-block {
        ::ng-deep nb-alert {
            padding: 5px 50px 5px 50px;
            margin-top: 5.5%;
        }
        i {
            font-size: 50px;
        }
        .danger-alert {
            text-align: center;
            p {
                font-size: 20px;
            }
        }
        .first {
            p {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
}
.sticky-alert {
    position: fixed;
    right: 2.7vw;
    left: 19vw;
    top: 110px;
    z-index: 100;
}

.my-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin-bottom: 0;
    }
    button {
        color: #fff;
    }
    i {
        font-size: 30px;
        padding-right: 20px;
    }
    .alert-text {
        display: flex;
        align-items: center;
    }
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
