@import '../../../../@theme/styles/themes';
.detail-info {
    width: 90%;
    margin: 0 auto;

    .status {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .detail-images {
        img {
            height: 250px;
        }
    }
    .data {
        margin-top: 40px;
        // margin: 0 auto;
        // display: flex;
        img {
            height: max-content;
        }
    }
    td,
    th {
        color: nb-theme(select-outline-basic-text-color);
        border-color: nb-theme(select-outline-basic-border-color);
        border-style: nb-theme(select-outline-border-style);
        border-width: nb-theme(select-outline-border-width);
        border-radius: nb-theme(select-rectangle-border-radius);
        padding: 15px 40px;
    }
}
::ng-deep nb-alert {
    padding: 5px 15px 5px 15px;
}
::ng-deep gallery-image {
}
