<div class="detail-info" *ngIf="data">
    <div class="status">
        <strong>{{ data.createdAt | date: 'dd.MM.yyyy, mm:hh' }}</strong>
        <nb-alert status="primary">Фотоидентификация</nb-alert>
    </div>
    <div class="detail-images row">
        <img
            class="col-md-4"
            [src]="data.passportFrontSideImageUrl | useHttpImgSrc"
            alt=""
        />
        <img
            class="col-md-4"
            [src]="data.passportBackSideImageUrl | useHttpImgSrc"
            alt=""
        />
        <img
            class="col-md-4"
            [src]="data.selfieWithPassportImageUrl | useHttpImgSrc"
            alt=""
        />
        <ngx-lightbox-img
            [imgUrls]="[
                data.passportFrontSideImageUrl,
                data.passportBackSideImageUrl,
                data.selfieWithPassportImageUrl
            ]"
        ></ngx-lightbox-img>
    </div>
    <div [@openClose]="toggle" class="data row" *ngIf="personalData && toggle">
        <img
            class="col-md-4"
            [src]="personalData.profilePhotoUrl | useHttpImgSrc"
            alt=""
        />
        <table class="col-md-6 ml-3">
            <tr>
                <td>ПИН</td>
                <td>{{ personalData.pin }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ personalData.name }}</td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td>{{ personalData.surname }}</td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td>{{ personalData.patronymic }}</td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>{{ personalData.gender }}</td>
            </tr>
            <tr>
                <td>Дата рождения</td>
                <td>{{ personalData.birthDate | date: 'dd.MM.yyyy' }}</td>
            </tr>
            <tr>
                <td>Семейное положение</td>
                <td>{{ personalData.maritalStatus }}</td>
            </tr>
            <tr>
                <td>Адрес прописки</td>
                <td>{{ personalData.residenceAddress }}</td>
            </tr>
            <tr>
                <td>Номер паспорта</td>
                <td>{{ personalData.documentNumber }}</td>
            </tr>
            <tr>
                <td>Дата выдачи</td>
                <td>{{ personalData.dateOfIssue | date: 'dd.MM.yyyy' }}</td>
            </tr>

            <tr>
                <td>Кем выдан</td>
                <td>{{ personalData.authority }}</td>
            </tr>
            <tr>
                <td>Срок действия паспорта</td>
                <td>{{ personalData.dateOfExpiry | date: 'dd.MM.yyyy' }}</td>
            </tr>
            <tr>
                <td>Номер телефона</td>
                <td></td>
            </tr>
        </table>
    </div>
    <button
        class="mx-auto d-flex mt-4"
        (click)="getDataToggle()"
        nbButton
        status="primary"
    >
        {{ !toggle ? 'Запросить паспортные данные' : 'Скрыть' }}
    </button>
    <ngx-photo-idn-buttons
        [isInfoOpened]="toggle"
        [data]="data"
        [isPhotoIdnNeedToEdit]="isNeedToEdit"
        (editEvent)="editPhotoIdn()"
        (approveEvent)="approvePhotoIdn()"
        (declineEvent)="declinePhotoIdn()"
    ></ngx-photo-idn-buttons>
    <ngx-identification-need-to-edit
        [data]="data"
        [isNeedToEdit]="isNeedToEdit"
        (hideEditEvent)="hideEdit($event)"
    ></ngx-identification-need-to-edit>
</div>
