.viewer-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: black;
    z-index: 999999999999999;
    overflow-y: hidden;
    min-width: 100%;
    min-height: 100%;
}

.viewer-content {
    background-color: black;
    width: 100%;
    height: 100%;
}

.close-button {
    /* Set close button to always be top right */
    position: absolute;
    right: 40px;
    top: 10px;
    /* Apply some light styles to button */
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: white;
    cursor: pointer;
    /* Give some padding and background colour so text is always legible */
    background-color: transparent;
    border: none;
    padding: 7px;
    /* z-index must be higher than container's so it's always on top */
    z-index: 9999999;
}

img {
    /* Setup our image so it keeps aspect ratio, and is vertically centered */
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 320px;
    object-fit: cover;
    margin: auto; /* margin: auto ensures image is horizontally centered */
    /* Below transformation ensures image is centered vertically*/
    position: relative;
}
.main-img {
    top: 50%;
    height: 70%;
    cursor: zoom-in;
    transform: translateY(-50%);
}
// ! hide main-img-mobile
.main-img-mobile {
    display: none;
}
.img-zoom {
    transform: scale(2, 2.5);

    -webkit-transition: all 300ms 0ms ease-in-out;
    transition: all 300ms 0ms ease-in-out;
}
// new
.image-container-light {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}
.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
        margin-right: 30px;
    }
}
@media (max-width: 425px) {
    .viewer-container::-webkit-scrollbar {
        display: none;
    }
    .main-img-mobile {
        display: block;
    }
    .image-container-light {
        pointer-events: none;
        margin-top: 100px;
        height: auto;
        overflow-y: hidden;
        img {
            height: auto;
        }
    }
    // ! hide main-img-desktop
    .main-img-desktop {
        display: none;
    }
    .viewer-container {
        overflow-y: hidden;
    }
    .viewer-container {
        overflow-y: hidden;
        .controls {
            display: none;
        }

        .close-button {
            top: 100px;
        }
        .main-img {
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
        }
    }
}
