<ng-container *ngIf="withAccordion">
    <nb-accordion *ngIf="videos.length > 0" multi>
        <nb-accordion-item (collapsedChange)="collapsedChange($event)">
            <nb-accordion-item-header class="justify-content-center">
                Видео
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="row mt-3 iden-videos">
                    <div *ngIf="wmvVideoLoading" class="overlay">
                        <div class="lds-hourglass"></div>
                    </div>

                    <ng-container *ngIf="wmvVideos.length > 0">
                        <div
                            *ngFor="
                                let item of wmvVideos;
                                let idx = index;
                                trackBy: trackByFn
                            "
                            (click)="dowloadVideo(item.blobUrl)"
                            class="document col-6 col-sm-3 mt-2"
                        >
                            <img
                                src="../../../../../assets/video-preview.png"
                                alt=""
                                width="100%"
                            />
                        </div>
                    </ng-container>

                    <ng-container
                        *ngFor="let item of videos; trackBy: trackByFn"
                    >
                        <video
                            *ngIf="!isWmv(item.url)"
                            controls
                            class="col-6 col-sm-3 mt-2"
                            [src]="item.url | useHttpImgSrc"
                        ></video>
                    </ng-container>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</ng-container>
<ng-container *ngIf="!withAccordion && videos?.length > 0">
    <div class="row mt-3 iden-videos">
        <div *ngIf="wmvVideoLoading" class="overlay">
            <div class="lds-hourglass"></div>
        </div>

        <ng-container *ngIf="wmvVideos.length > 0">
            <div
                *ngFor="
                    let item of wmvVideos;
                    let idx = index;
                    trackBy: trackByFn
                "
                (click)="dowloadVideo(item.blobUrl)"
                class="document col-6 col-sm-3 mt-2"
            >
                <img
                    src="../../../../../assets/video-preview.png"
                    alt=""
                    width="100%"
                />
            </div>
        </ng-container>

        <ng-container *ngFor="let item of videos; trackBy: trackByFn">
            <video
                *ngIf="!isWmv(item.url)"
                controls
                class="col-6 col-sm-3 mt-2"
                [src]="item.url | useHttpImgSrc"
            ></video>
        </ng-container>
    </div>
</ng-container>
<ng-template> </ng-template>
