<div class="row justify-content-center">
    <div class="col-md-8">
        <nb-card>
            <nb-card-header
                >{{
                    this.categoryId
                        ? 'Редактирование категории'
                        : 'Создание категории'
                }}
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label
                            for="exampleInputEmail1"
                            class="label col-sm-3 col-form-label"
                            >Название</label
                        >
                        <div class="col-sm-9">
                            <ngx-validation-input
                                [submitted]="submitted"
                                [control]="form.get('name')"
                                placeholder="Введите название"
                            >
                            </ngx-validation-input>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Порядок</label
                        >
                        <div class="col-sm-9">
                            <input
                                type="number"
                                nbInput
                                fullWidth
                                id="exampleInputPassword1"
                                placeholder="Порядок"
                                formControlName="order"
                                [status]="
                                submitted && (form.get('order')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Активен</label
                        >
                        <div class="col-sm-9">
                            <nb-select
                                fullWidth
                                formControlName="isActive"
                                placeholder="Активен"
                            >
                                <nb-option [value]="true">Да</nb-option>
                                <nb-option [value]="false">Нeт</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Категория</label
                        >
                        <div class="col-sm-9">
                            <ngx-search-select
                                (searchEmit)="getCategories($event)"
                                [control]="form.get('parentId')"
                                [isRequired]="false"
                                [submitted]="submitted"
                                [data]="categoryList"
                                [placeholder]="'Выберите категорию'"
                            ></ngx-search-select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                            for="exampleInputPassword1"
                            class="label col-sm-3 col-form-label"
                            >Лого</label
                        >
                        <div class="col-sm-9">
                            <ngx-img-input
                                [control]="form.get('logo')"
                                [submitted]="submitted"
                                [imgSrc]="form.get('logo').value"
                            ></ngx-img-input>
                        </div>
                    </div>
                    <button
                        class="d-flex mx-auto"
                        type="submit"
                        nbButton
                        status="primary"
                    >
                        Подтвердить
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
