@mixin nb-overrides() {
    nb-select.size-medium button {
        padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

        nb-icon {
            right: 0.41rem !important;
        }
    }
    .cdk-global-scrollblock {
        position: static !important;
        overflow-y: auto !important;
    }
    nb-layout-header.fixed {
        z-index: 100 !important;
    }
    .credit-filter {
        display: flex;
        justify-content: space-evenly;
    }
    @media (max-width: 768px) {
        .credit-filter {
            flex-wrap: wrap;
            ngx-input-search {
                margin-right: 0 !important;
                width: 100% !important;
            }
            input {
                width: 100% !important;
                margin-right: 0 !important;
                margin-bottom: 25px;
            }
            nb-select {
                width: 100% !important;
            }
        }
        tr,
        td {
            padding: 10px 7px !important;
        }
    }
}
