<nb-accordion multi *ngIf="data">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Пасспортные данные
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table class="w-100">
                <tr>
                    <td>ПИН</td>
                    <td>{{ data.identificationInformation.pin }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ data.identificationInformation.name }}</td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>{{ data.identificationInformation.surname }}</td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td>{{ data.identificationInformation.patronymic }}</td>
                </tr>
                <tr>
                    <td>Пол</td>
                    <td>{{ data.identificationInformation.gender }}</td>
                </tr>
                <tr>
                    <td>Дата рождения</td>
                    <td>
                        {{
                            data.identificationInformation.birthDate
                                | date : 'dd.MM.yyyy'
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Семейное положение</td>
                    <td>
                        {{
                            getMaritalStatus(
                                data.identificationInformation.maritalStatus
                            )
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Адрес прописки</td>
                    <td>
                        {{
                            data.identificationInformation.residenceAddress
                                .region +
                                ',' +
                                data.identificationInformation.residenceAddress
                                    .address
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Паспорт</td>
                    <td>
                        {{
                            data.identificationInformation.passport
                                .documentType +
                                ' ' +
                                data.identificationInformation.passport
                                    .documentNumber
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Дата выдачи</td>
                    <td>
                        {{
                            data.identificationInformation.passport.dateOfIssue
                                | date : 'dd.MM.yyyy'
                        }}
                    </td>
                </tr>

                <tr>
                    <td>Кем выдан</td>
                    <td>
                        {{ data.identificationInformation.passport.authority }}
                    </td>
                </tr>
                <tr>
                    <td>Срок действия паспорта</td>
                    <td>
                        {{
                            data.identificationInformation.passport.dateOfExpiry
                                | date : 'dd.MM.yyyy'
                        }}
                    </td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
