<nb-card>
    <nb-card-header> Подробнее </nb-card-header>

    <nb-card-body>
        <nb-card class="list-card">
            <nb-card-body class="lists row">
                <nb-list class="col-md-6">
                    <nb-list-item>Название</nb-list-item>
                    <nb-list-item>Описание</nb-list-item>
                    <nb-list-item>Категория</nb-list-item>
                    <nb-list-item>Комиссия (%) </nb-list-item>
                    <nb-list-item>Создано</nb-list-item>
                    <nb-list-item>Бик</nb-list-item>
                    <nb-list-item>ИНН</nb-list-item>
                </nb-list>
                <nb-list class="col-md-6">
                    <nb-list-item>Название</nb-list-item>
                    <nb-list-item>Описание</nb-list-item>
                    <nb-list-item>Категория</nb-list-item>
                    <nb-list-item>Комиссия (%) </nb-list-item>
                    <nb-list-item>Создано</nb-list-item>
                    <nb-list-item>Бик</nb-list-item>
                    <nb-list-item>ИНН</nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
