<div class="mt-5 update-amount" *ngIf="data">
    <nz-slider
        [class]="
            data.status === 'Approved'
                ? 'approved-dots desktop-upd-am'
                : 'desktop-upd-am'
        "
        nzDots
        [nzDisabled]="data.isAdmin"
        [nzMarks]="marks"
        [nzStep]="1000"
        [nzMin]="data.min"
        [nzMax]="data.max"
        (ngModelChange)="onChange($event)"
        [ngModel]="requestingAmount"
        [nzTipFormatter]="data.status === 'Approved' ? formatter : null"
    ></nz-slider>

    <nz-radio-group
        class="mobile-update-amount"
        (nzOnChange)="onChange($event)"
        [(ngModel)]="requestingAmount"
        [nzDisabled]="data.isAdmin"
    >
        <label
            class="radio-label"
            *ngFor="
                let item of objectKeys(marks).slice(
                    objectKeys(marks).indexOf(data.min.toString()),
                    objectKeys(marks).indexOf(data.max.toString()) + 1
                );
                trackBy: trackByFn
            "
            nz-radio
            [nzValue]="+item"
            >{{ item }}</label
        >
    </nz-radio-group>
    <button
        *ngIf="!data.isAdmin"
        [disabled]="btnDisabled || requestingAmount === data?.requestingAmount"
        (click)="updateAmount()"
        class="d-flex mx-auto approve-btn"
        nbButton
        status="primary"
    >
        Подтвердить выбранную сумму
    </button>
</div>
