<nb-card>
    <nb-card-header>
        <strong>Идентификация партнеров</strong>
        <div [formGroup]="form" class="d-flex justify-content-between mt-3">
            <ngx-input-search
                placeholder="Поиск по названию"
                class="mr-5 w-100"
                [control]="form.get('name')"
            >
            </ngx-input-search>
            <ngx-input-search
                class="mr-5 w-100"
                [placeholder]="'Номер телефона'"
                [control]="form.get('phone')"
            >
            </ngx-input-search>
            <ngx-search-select
                class="w-100"
                isSearch="true"
                [control]="form.get('categoryId')"
                [size]="'default'"
                [isRequired]="false"
                (searchEmit)="getCategories($event)"
                [data]="categories"
                [placeholder]="'Название населенного пункта'"
            ></ngx-search-select>
            <nb-select
                style="width: 200px"
                class="mr-5 w-100"
                size="small"
                fullWidth
                placeholder="Тип"
                formControlName="status"
            >
                <nb-option value="">Все</nb-option>

                <nb-option value="Created">Ожидание</nb-option>
                <nb-option value="Approved">Одобренный</nb-option>
                <nb-option value="Declined">Отклоненный</nb-option>
                <nb-option value="NeedToEdit">Нужно отредактировать</nb-option>
            </nb-select>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getPartners($event)"
            (openModalEvent)="detailPartner($event)"
            (rowSelectEvent)="rowSelect($event)"
            [tableColumns]="tableColumns"
            [tableData]="listPartners"
            [productName]="'ни одного партнера'"
            [delete]="false"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
