<nb-card>
    <nb-card-header>Идентификация клиентов</nb-card-header>
    <nb-card-body class="d-flex justify-content-around">
        <!-- [disabled]="photoIdentificationToggle" -->
        <!-- [nbSpinner]="photoIdentificationToggle" -->
        <button
            (click)="photoIdentification()"
            nbSpinnerStatus="info"
            nbSpinnerSize="medium"
            nbSpinnerMessage=""
            nbButton
            status="primary"
        >
            Получить заявку на фотоидентификацию
        </button>
        <!-- [disabled]="videoIdentificationToggle" -->
        <!-- [nbSpinner]="videoIdentificationToggle" -->
        <button
            (click)="videoIdentification()"
            nbSpinnerStatus="info"
            nbSpinnerSize="medium"
            nbSpinnerMessage=""
            nbButton
            status="info"
        >
            Получить заявку на видеоидентификацию
        </button>
    </nb-card-body>
</nb-card>
