<nb-card>
    <ng-container *ngIf="router.url.endsWith('photo')">
        <nb-card-header>Идентификация по фотографии</nb-card-header>
        <nb-card-body class="get-iden">
            <ngx-button
                title="Получить заявку"
                (clickEvent)="photoIdentification()"
            >
            </ngx-button>
        </nb-card-body>
    </ng-container>
    <ng-container *ngIf="router.url.endsWith('video')">
        <nb-card-header>Идентификация по видео</nb-card-header>
        <nb-card-body class="get-iden">
            <ngx-button
                title="Получить заявку"
                (clickEvent)="videoIdentification()"
            >
            </ngx-button>
        </nb-card-body>
    </ng-container>
</nb-card>
