<!-- <ngx-global-loader></ngx-global-loader> -->

<nb-card class="container" *ngIf="loanApplicationData && dataScoring">
    <ngx-credit-application-detail-info
        [data]="loanApplicationData"
        [dataScoring]="dataScoring"
        [customerData]="customerInfo"
    ></ngx-credit-application-detail-info>
    <ngx-credit-application-more-info
        [data]="loanApplicationData"
        [dataScoring]="dataScoring"
        [kibData]="kibData"
        [customerData]="customerInfo"
    ></ngx-credit-application-more-info>
    <ngx-additional-info
        [data]="loanApplicationData"
        [dataScoring]="dataScoring"
        [form]="customerData"
        [customerData]="customerInfo"
        (needToEditUserEvent)="needToEditUser()"
        class="detail-block mt-4"
    ></ngx-additional-info>
    <ngx-update-amount
        (changeAmountEvent)="changeAmount($event)"
        [data]="requestingAmountData"
    ></ngx-update-amount>
    <ngx-comments
        [comments]="loanApplicationData.comments"
        (sendCommentEvent)="sendComment($event)"
        class="detail-block"
    ></ngx-comments>
    <ngx-credit-application-buttons
        (declineEvent)="declineCredit($event)"
        (approveEvent)="approveCredit()"
        (postponeEvent)="postponeCredit()"
    ></ngx-credit-application-buttons>
</nb-card>
