<form [formGroup]="form" (ngSubmit)="onFirstSubmit()">
    <div class="form-group">
        <label for="exampleInputEmail1" class="label">Действует с</label>
        <input
            formControlName="activeSince"
            fullWidth
            nbInput
            type="date"
            format="dd.MM.yyyy"
            placeholder="Дата выпуска"
            [status]="
                                submitted && (form.get('activeSince')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
        />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="label">Процент</label>
        <input
            formControlName="value"
            fullWidth
            nbInput
            type="number"
            placeholder="Введите процент"
            [status]="
                                submitted && (form.get('value')).errors?.['required']
                                    ? 'danger'
                                    : 'basic'
                            "
        />
    </div>

    <button class="d-flex mx-auto" type="submit" nbButton status="primary">
        Подтвердить
    </button>
</form>
