@import '../../../@theme/styles/themes';
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: nb-theme(select-outline-basic-text-color);

    background-color: nb-theme(select-outline-basic-background-color);
    border-color: nb-theme(select-outline-basic-border-color);
    border-style: nb-theme(select-outline-border-style);
    border-width: nb-theme(select-outline-border-width);
    border-radius: nb-theme(select-rectangle-border-radius);
}

::ng-deep
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector {
    padding: 0.2rem 2.2rem 0.4375rem 1.125rem;
}
::ng-deep
    .ant-select-multiple.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector {
    padding: 0.2rem 2.2rem 0.4375rem 1.125rem;
}
::ng-deep
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector,
::ng-deep
    .ant-select-multiple.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector {
    // height: 49.5px;
    line-height: nb-theme(select-medium-text-line-height);
}
::ng-deep
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector {
    height: 49.5px;
}
::ng-deep
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector {
    height: 49.5px;
}
::ng-deep .ant-select-selection-placeholder {
    color: nb-theme(select-outline-basic-placeholder-text-color);
    font-size: nb-theme(select-medium-placeholder-text-font-size);
    font-weight: nb-theme(select-medium-placeholder-text-font-weight);
    line-height: nb-theme(select-medium-text-line-height);
}
::ng-deep .ant-select-arrow {
    width: 24;
    height: 24;
    color: nb-theme(select-outline-basic-icon-color);
    line-height: nb-theme(icon-line-height);
    font-weight: nb-theme(select-medium-text-font-weight);
}
::ng-deep .ant-select-dropdown {
    color: nb-theme(select-outline-basic-text-color);
    height: 100%;
    max-height: nb-theme(option-list-max-height);
    background-color: nb-theme(select-outline-basic-background-color);
    border-color: nb-theme(select-outline-basic-border-color);
    border-style: nb-theme(select-outline-border-style);
    border-width: nb-theme(select-outline-border-width);
    border-radius: nb-theme(select-rectangle-border-radius);
}
::ng-deep .ant-select-item-option {
    color: nb-theme(select-outline-basic-text-color);
    font-size: nb-theme(option-medium-text-font-size);
    font-weight: nb-theme(option-medium-text-font-weight);
    line-height: nb-theme(option-medium-text-line-height);
    padding: nb-theme(option-medium-padding);
}
::ng-deep .cdk-virtual-scroll-viewport {
    min-height: 100px !important;
    max-height: nb-theme(option-list-max-height) !important;
}
::ng-deep .ant-select-item-option-active {
    background-color: nb-theme(option-hover-background-color) !important;
}

::ng-deep
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: nb-theme(select-outline-basic-text-color);
    background-color: nb-theme(option-selected-background-color) !important;
}
::ng-deep .ant-select-multiple.ant-select-lg .ant-select-selection-item {
    color: white !important;
    background-color: nb-theme(option-selected-background-color) !important;
    border-color: nb-theme(select-outline-basic-border-color);
    border-style: nb-theme(select-outline-border-style);
    border-width: nb-theme(select-outline-border-width);
    border-radius: nb-theme(select-rectangle-border-radius);
}
::ng-deep .ant-select-multiple .ant-select-selection-item-remove {
    color: white !important;
    font-size: 14px !important;
}
::ng-deep .ant-select-clear {
    color: nb-theme(select-outline-basic-text-color);
    background-color: transparent !important;
    &:hover {
        color: nb-theme(select-outline-basic-text-color);
    }
}
::ng-deep
    .ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)
    .ant-select-selector {
    background-color: nb-theme(input-danger-background-color);
    border-color: nb-theme(input-danger-border-color) !important;
}
::ng-deep .ant-select-item-empty {
    color: nb-theme(select-outline-basic-text-color);
    text-align: center;
    font-size: 17px;
}
.small-input {
    width: 250px !important;
    // height: 40px !important;
    // ::ng-deep
    //     .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    //     .ant-select-selector {
    //     height: 45px !important;
    // }
    // ::ng-deep .ant-select-selector {
    //     height: 39.5px !important;
    //     padding: 0.2rem 0rem 0.3rem 1.125rem;
    // }
}
