<div class="form-group row">
    <div class="col-sm-9">
        <!-- <form (submit)="onSubmit()" class="d-flex">
            <input
                id="exampleInputPassword1"
                placeholder="Галерея"
                type="file"
                (change)="onFileChange($event)"
                id="formFile"
                multiple
            />
            <button class="d-flex mx-auto" type="submit" nbButton status="primary" class="ml-2">
                Добавить
            </button>
        </form> -->
        <button
            (click)="openCreateModal()"
            nbButton
            status="primary"
            class="ml-2"
        >
            Добавить
        </button>
    </div>
</div>

<div *ngIf="images">
    <div class="col-sm-9">
        <div class="gallery">
            <ng-container *ngFor="let i of images.items">
                <div class="gallery__item">
                    <img [src]="i.imagePath" alt="" />
                    <button
                        class="btn edit-btn"
                        (click)="openEditModal(i)"
                        nbButton
                        status="warning"
                    >
                        <i style="font-size: 30px" class="nb-edit"></i>
                    </button>
                    <button
                        class="btn delete-btn"
                        (click)="deleteImage(i.id)"
                        nbButton
                        status="danger"
                    >
                        <i style="font-size: 30px" class="nb-trash"></i>
                    </button>
                </div>
            </ng-container>
        </div>

        <!-- <ng-container *ngFor="let i of images.items">
        <nb-card size="small" class="gallery__item">
            <div>
                <img [src]="i.imagePath | useHttpImgSrc" alt="" />
            </div>

            <div class="details">
                <strong>{{ i.title }}</strong>
            </div>

            <nb-card-footer class="buttons">
                <button
                    class="btn edit-btn"
                    (click)="openEditModal(i)"
                    nbButton
                    status="warning"
                >
                    <i style="font-size: 30px" class="nb-edit"></i>
                </button>
                <button
                    class="btn delete-btn"
                    (click)="deleteImage(i.id)"
                    nbButton
                    status="danger"
                >
                    <i style="font-size: 30px" class="nb-trash"></i>
                </button>
            </nb-card-footer>
        </nb-card>
    </ng-container> -->

        <nz-pagination
            *ngIf="images.totalItemCount > 20"
            class="custom-pagination header"
            (nzPageIndexChange)="changePage($event)"
            [nzPageIndex]="images.pageNumber"
            [nzTotal]="images.totalItemCount"
            [nzPageSize]="images.pageSize"
        ></nz-pagination>
    </div>
</div>
