<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <strong>Сотрудники</strong>

        <button (click)="openCreateModal()" nbButton status="primary">
            Добавить
        </button>
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table
            [settings]="settings"
            [source]="listStaff?.items"
            (deleteConfirm)="onDeleteConfirm($event)"
            (userRowSelect)="onUserRowSelect($event)"
        >
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
