<nb-card>
    <nb-card-header>
        <strong>Сотрудники</strong>
        <div class="d-flex justify-content-between mt-3">
            <ngx-input-search (searchEvent)="onSearch($event)">
            </ngx-input-search>
            <button (click)="openCreateModal()" nbButton status="primary">
                Добавить
            </button>
        </div>
    </nb-card-header>

    <nb-card-body>
        <ngx-custom-table
            (changePageEvent)="getListStaff($event)"
            (deleteItemEvent)="onDelete($event)"
            (openModalEvent)="openEdit($event)"
            [tableColumns]="tableColumns"
            [tableData]="listStaff"
            [productName]="'ни одного сотрудника'"
        >
        </ngx-custom-table> </nb-card-body
></nb-card>
