@media (max-width: 768px) {
    .detail-images {
        display: block !important;
        .video {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}
