<nb-accordion multi *ngIf="data">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Идентификация клиента
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="detail-images row">
                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="
                        data.identificationInformation.passportFrontSideImage
                    "
                ></ngx-lightbox-img>

                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="
                        data.identificationInformation.passportBackSideImage
                    "
                ></ngx-lightbox-img>
                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="
                        data.identificationInformation.selfieWithPassportImage
                    "
                ></ngx-lightbox-img>
                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="data.identificationInformation.profileImage"
                ></ngx-lightbox-img>
            </div>
            <div class="row mt-3">
                <video
                    controls
                    class="col-6 col-sm-3"
                    [src]="
                        'https://stage.c2u.io:2002/operator/api/v1/video-call-files/db882d08-8d25-4f76-bf64-b8c1c0ad6f30'
                            | useHttpImgSrc
                    "
                ></video>
                <!-- <video
                    controls
                    class="col-6 col-sm-3"
                    src="https://stage.c2u.io:2002/operator/api/v1/video-call-files/db882d08-8d25-4f76-bf64-b8c1c0ad6f30"
                ></video>
                <video
                    controls
                    class="col-6 col-sm-3"
                    src="https://stage.c2u.io:2002/operator/api/v1/video-call-files/db882d08-8d25-4f76-bf64-b8c1c0ad6f30"
                ></video>
                <video
                    controls
                    class="col-6 col-sm-3"
                    src="https://stage.c2u.io:2002/operator/api/v1/video-call-files/db882d08-8d25-4f76-bf64-b8c1c0ad6f30"
                ></video> -->
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
