<nb-accordion multi *ngIf="data">
    <nb-accordion-item>
        <nb-accordion-item-header class="justify-content-center">
            Идентификация клиента
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="detail-images row identification-files">
                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="
                        data.identificationInformation.passportFrontSideImage
                    "
                ></ngx-lightbox-img>

                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="
                        data.identificationInformation.passportBackSideImage
                    "
                ></ngx-lightbox-img>
                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="
                        data.identificationInformation.selfieWithPassportImage
                    "
                ></ngx-lightbox-img>
                <ngx-lightbox-img
                    class="col-6 col-sm-3"
                    [imgUrl]="data.identificationInformation.profileImage"
                ></ngx-lightbox-img>
            </div>
            <ngx-identification-videos
                *ngIf="videos"
                [withAccordion]="false"
                [videos]="videos"
            >
            </ngx-identification-videos>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
