@media (max-width: 768px) {
    .identification-files {
        display: block;
        .iden-photos {
            margin-top: 20px;
        }
    }
    .iden-videos {
        display: block;
    }
}
