<nb-card *ngIf="userData" class="user-detail">
    <nb-card-header class="text-center">{{
        userData &&
            userData.identificationInformation.surname +
                ' ' +
                userData.identificationInformation.name +
                ' ' +
                userData.identificationInformation.patronymic
    }}</nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Персональные данные">
                <div class="row">
                    <div
                        *ngIf="userData && userData.identificationInformation"
                        class="col-md-8"
                    >
                        <nb-alert outline="basic" class="mb-0 alert-title">
                            <strong class="text-center"
                                >Персональная информация</strong
                            >
                        </nb-alert>
                        <table class="w-100">
                            <tr>
                                <td>ПИН</td>
                                <td>
                                    {{ userData.identificationInformation.pin }}
                                </td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>
                                    {{
                                        userData.identificationInformation.name
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Фамилия</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .surname
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Отчество</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .patronymic
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Пол</td>
                                <td>
                                    {{
                                        getGender(
                                            userData.identificationInformation
                                                .gender
                                        )
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Дата рождения</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .birthDate | date : 'dd.MM.yyyy'
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Семейное положение</td>
                                <td>
                                    {{
                                        getMaritalStatus(
                                            userData.identificationInformation
                                                .maritalStatus
                                        )
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Адрес прописки</td>
                                <td>
                                    {{
                                        getResidenceLoc(
                                            userData.identificationInformation
                                                .residenceAddress.region
                                        ) +
                                            ',' +
                                            userData.identificationInformation
                                                .residenceAddress.address
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Паспорт</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .passport.documentType +
                                            ' ' +
                                            userData.identificationInformation
                                                .passport.documentNumber
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Дата выдачи</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .passport.dateOfIssue
                                            | date : 'dd.MM.yyyy'
                                    }}
                                </td>
                            </tr>

                            <tr>
                                <td>Кем выдан</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .passport.authority
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Срок действия паспорта</td>
                                <td>
                                    {{
                                        userData.identificationInformation
                                            .passport.dateOfExpiry
                                            | date : 'dd.MM.yyyy'
                                    }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <nb-alert status="success">
                            <strong class="text-center">{{
                                getStatus(userData.identificationLevel)
                            }}</strong>
                        </nb-alert>
                        <nb-alert
                            *ngIf="
                                fuelCardCreditLineData?.creditLineDetails
                                    ?.isClosed
                            "
                            status="warning"
                            disabled
                        >
                            <strong class="text-center">
                                Топливная карта закрыта</strong
                            >
                        </nb-alert>
                        <ngx-confirm-buttons
                            (approveEvent)="offlineIdentificate()"
                            status="danger"
                            class="mb-4 d-block"
                            title="Закрыть кредитную линию"
                        >
                        </ngx-confirm-buttons>
                        <ngx-confirm-buttons
                            *ngIf="
                                fuelCardCreditLineData?.creditLineDetails
                                    ?.canBeClosed
                            "
                            (approveEvent)="closeFuelCardCreditLine()"
                            status="danger"
                            title="Закрыть топливную карту"
                        >
                        </ngx-confirm-buttons>
                    </div>
                </div>
                <div class="d-flex mt-5 w-100 align-items-center">
                    <input
                        nbInput
                        fullWidth
                        type="file"
                        id="input-tag"
                        (change)="onFileChange($event)"
                    />
                    <ngx-confirm-buttons
                        (approveEvent)="sendUserDocument()"
                        status="primary"
                        title="Отправить"
                    >
                    </ngx-confirm-buttons>
                </div>
                <nb-card class="mt-5">
                    <nb-card-header>Документы</nb-card-header>
                    <nb-card-body>
                        <div
                            *ngIf="listDocuments?.length > 0"
                            class="detail-images row"
                        >
                            <ng-container *ngFor="let item of listDocuments">
                                <!-- <iframe
                                    [src]="item.url"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                ></iframe> -->
                                <ngx-doc-viewer
                                    [url]="item.url"
                                    viewer="mammoth"
                                    style="width: 100%; height: 50vh"
                                ></ngx-doc-viewer>
                            </ng-container>
                        </div>
                    </nb-card-body>
                </nb-card>
                <ngx-confirm-buttons
                    *ngIf="userData.identificationLevel === 'Online'"
                    (approveEvent)="offlineIdentificate()"
                    class="w-50 d-block mx-auto"
                    status="primary"
                    title="Идентифицировать офлайн"
                >
                </ngx-confirm-buttons>
            </nb-tab>
            <nb-tab
                [disabled]="!userData?.identificationInformation"
                tabTitle="Идентификация"
            >
                <nb-card>
                    <nb-card-header>Идентификация клиента</nb-card-header>
                    <nb-card-body>
                        <div
                            *ngIf="
                                userData && userData.identificationInformation
                            "
                            class="detail-images row"
                        >
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    userData.identificationInformation
                                        .passportFrontSideImage
                                "
                            ></ngx-lightbox-img>

                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    userData.identificationInformation
                                        .passportBackSideImage
                                "
                            ></ngx-lightbox-img>
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    userData.identificationInformation
                                        .selfieWithPassportImage
                                "
                            ></ngx-lightbox-img>
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    userData.identificationInformation
                                        .profileImage
                                "
                            ></ngx-lightbox-img>
                        </div>
                        <div
                            *ngIf="videos && videos.length > 0"
                            class="row mt-3"
                        >
                            <video
                                *ngFor="let item of videos"
                                controls
                                class="col-6 col-sm-3"
                                [src]="item.url | useHttpImgSrc"
                            ></video>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
