tr,
td {
    border: 1px solid #000;
    padding: 20px 20px;
    text-align: center;
}
.user-detail {
    ::ng-deep .alert-title {
        border: 1px solid #000;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .document {
        cursor: pointer;
    }

    .image-container,
    .video-container,
    .audio-container {
        display: flex;
        flex-wrap: wrap;
    }

    .pdf-container {
        display: block;
        width: 100%;
    }
}
