<nb-card *ngIf="userData" class="user-detail">
    <nb-card-header class="text-center">Батыров Руслан Игревич</nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Персональные данные">
                <div class="row">
                    <div
                        *ngIf="
                            customerData &&
                            customerData.identificationInformation
                        "
                        class="col-md-8"
                    >
                        <nb-alert outline="basic" class="mb-0 alert-title">
                            <strong class="text-center"
                                >Персональная информация</strong
                            >
                        </nb-alert>
                        <table class="w-100">
                            <tr>
                                <td>ПИН</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .pin
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Имя</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .name
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Фамилия</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .surname
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Отчество</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .patronymic
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Пол</td>
                                <td>
                                    {{
                                        getGender(
                                            customerData
                                                .identificationInformation
                                                .gender
                                        )
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Дата рождения</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .birthDate | date : 'dd.MM.yyyy'
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Семейное положение</td>
                                <td>
                                    {{
                                        getMaritalStatus(
                                            customerData
                                                .identificationInformation
                                                .maritalStatus
                                        )
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Адрес прописки</td>
                                <td>
                                    {{
                                        getResidenceLoc(
                                            customerData
                                                .identificationInformation
                                                .residenceAddress.region
                                        ) +
                                            ',' +
                                            customerData
                                                .identificationInformation
                                                .residenceAddress.address
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Паспорт</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .passport.documentType +
                                            ' ' +
                                            customerData
                                                .identificationInformation
                                                .passport.documentNumber
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Дата выдачи</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .passport.dateOfIssue
                                            | date : 'dd.MM.yyyy'
                                    }}
                                </td>
                            </tr>

                            <tr>
                                <td>Кем выдан</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .passport.authority
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>Срок действия паспорта</td>
                                <td>
                                    {{
                                        customerData.identificationInformation
                                            .passport.dateOfExpiry
                                            | date : 'dd.MM.yyyy'
                                    }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <nb-alert status="success">
                            <strong class="text-center">{{
                                getStatus(userData.identificationLevel)
                            }}</strong>
                        </nb-alert>
                    </div>
                </div>
                <div class="d-flex mt-5 w-100 align-items-center">
                    <input
                        nbInput
                        fullWidth
                        type="file"
                        id="input-tag"
                        (change)="onFileChange($event)"
                    />
                    <ngx-confirm-buttons
                        (approveEvent)="sendFile()"
                        status="primary"
                        title="Отправить"
                    >
                    </ngx-confirm-buttons>
                </div>
                <nb-card class="mt-5">
                    <nb-card-header>Документы</nb-card-header>
                    <nb-card-body>
                        <div
                            *ngIf="
                                customerData &&
                                customerData.identificationInformation
                            "
                            class="detail-images row"
                        >
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .passportFrontSideImage
                                "
                            ></ngx-lightbox-img>

                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .passportBackSideImage
                                "
                            ></ngx-lightbox-img>
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .selfieWithPassportImage
                                "
                            ></ngx-lightbox-img>
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .profileImage
                                "
                            ></ngx-lightbox-img>
                        </div>
                    </nb-card-body>
                </nb-card>
                <ngx-confirm-buttons
                    class="w-50 d-block mx-auto"
                    (approveEvent)="offlineIdentificate()"
                    status="primary"
                    title="Идентифицировать офлайн"
                >
                </ngx-confirm-buttons>
            </nb-tab>
            <nb-tab
                [disabled]="!customerData?.identificationInformation"
                tabTitle="Идентификация"
            >
                <nb-card>
                    <nb-card-header>Идентификация клиента</nb-card-header>
                    <nb-card-body>
                        <div
                            *ngIf="
                                customerData &&
                                customerData.identificationInformation
                            "
                            class="detail-images row"
                        >
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .passportFrontSideImage
                                "
                            ></ngx-lightbox-img>

                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .passportBackSideImage
                                "
                            ></ngx-lightbox-img>
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .selfieWithPassportImage
                                "
                            ></ngx-lightbox-img>
                            <ngx-lightbox-img
                                class="col-6 col-sm-3"
                                [imgUrl]="
                                    customerData.identificationInformation
                                        .profileImage
                                "
                            ></ngx-lightbox-img>
                        </div>
                        <div
                            *ngIf="videos && videos.length > 0"
                            class="row mt-3"
                        >
                            <video
                                *ngFor="let item of videos"
                                controls
                                class="col-6 col-sm-3"
                                [src]="item.url | useHttpImgSrc"
                            ></video>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
