<div class="detail-info">
    <div class="status">
        <div class="name">
            <strong>{{
                customerData?.identificationInformation.surname +
                    ' ' +
                    customerData?.identificationInformation.name +
                    ' ' +
                    customerData?.identificationInformation.patronymic
            }}</strong>
            <p class="mt-2">
                {{ data.createdAt | date : 'dd.MM.yyyy, hh:mm' }}
            </p>
        </div>
        <nb-alert [status]="getStatus().status"
            >{{ getStatus().title }}
        </nb-alert>
    </div>
    <div class="chart d-flex mt-3">
        <nb-card class="graphic col-md-8" *ngIf="trustLevel">
            <nb-alert
                class="row justify-content-center"
                [status]="trustLevel.status"
            >
                <div class="col-md-8">{{ trustLevel.text }}</div>
                <div class="col-md-4">{{ dataScoring.score }}</div>
            </nb-alert>
            <ngx-fusion-chart [score]="dataScoring.score"></ngx-fusion-chart>

            <nb-alert
                class="row mb-0"
                *ngIf="repaymentDays?.repaymentDelayDays === 0"
                status="success"
            >
                <div class="custom-alert">
                    <div class="col-md-8">Локальный КИБ</div>
                    <div class="col-md-4 text-right">
                        просрочек не обнаружено
                    </div>
                </div></nb-alert
            >
            <nb-alert
                class="row mb-0"
                *ngIf="repaymentDays?.repaymentDelayDays > 0"
                status="danger"
            >
                <div class="custom-alert">
                    <div class="col-md-8">Локальный КИБ</div>
                    <div class="col-md-4 text-right">обнаружена просрочка</div>
                </div></nb-alert
            >
            <nb-alert
                *ngIf="data.debtorInformationReportUrl"
                class="row mb-0"
                status="info"
            >
                <div class="custom-alert">
                    <div class="col-md-8">Кредитный отчет</div>
                    <div class="col-md-4">
                        <a
                            class="d-flex justify-content-end"
                            download="file"
                            (click)="dowloadCredit()"
                            >скачать<nb-icon
                                class="dowload-icon"
                                pack="eva"
                                icon="cloud-download-outline"
                            ></nb-icon
                        ></a>
                    </div></div
            ></nb-alert>
        </nb-card>
        <div class="alerts col-md-4">
            <nb-alert *ngIf="blackListPerson?.length === 0" status="success">
                <div class="d-flex justify-content-around align-items-center">
                    <i style="font-size: 35px" class="nb-checkmark-circle"></i>
                    <p>Не значится в списке террористов</p>
                </div>
            </nb-alert>
            <nb-alert *ngIf="blackListPerson?.length > 0" status="danger">
                <div class="d-flex justify-content-around align-items-center">
                    <i style="font-size: 35px" class="nb-alert"></i>
                    <p>Значится в списке террористов</p>
                </div>
            </nb-alert>
            <nb-alert *ngIf="!taxPayer?.debt" status="success">
                <div class="d-flex justify-content-around align-items-center">
                    <i style="font-size: 35px" class="nb-checkmark-circle"></i>
                    <p>Задолженности по налогам и страховым взносам нет</p>
                </div>
            </nb-alert>
            <nb-alert *ngIf="taxPayer?.debt" status="danger">
                <div class="d-flex justify-content-around align-items-center">
                    <i style="font-size: 35px" class="nb-alert"></i>
                    <p>
                        Обнаружены задолженности по налогам и страховым взносам
                    </p>
                </div>
            </nb-alert>
            <nb-alert status="info" *ngFor="let product of kibData">
                <div class="d-flex justify-content-around align-items-center">
                    <i style="font-size: 25px" class="nb-info"></i>
                    <p>
                        Подключен продукт
                        {{ getProductCode(product.productCode) }}
                    </p>
                </div>
            </nb-alert>
            <!-- <nb-alert status="danger">
                <div class="d-flex justify-content-around align-items-center">
                    <i style="font-size: 35px" class="nb-alert"></i>
                    <p>Сумма всех кредитов превышает лимит</p>
                </div>
            </nb-alert> -->
        </div>
    </div>
</div>
