.detail-info {
    p {
        margin-bottom: 0;
    }
    .status {
        nb-alert {
            padding: 5px 25px 5px 25px;
        }
        // height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .alerts {
        p {
            width: 80%;
        }
    }
    .custom-alert {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
    }
    .dowload-icon {
        display: block;
        margin-top: 5px;
        margin-left: 5px;
    }
    @media (max-width: 768px) {
        .chart {
            display: block !important;
            .alerts {
                width: 100%;
                max-width: 100%;
            }
            .graphic {
                max-width: 100%;
            }
        }
    }
}
